@charset 'UTF-8';

/* ===== COMMON ===== */

html {
	font-size:62.5%;
}

body {
	width:100%;
	font-family: "Noto Sans Japanese", sans-serif;
	line-height:1;
	color:#333;
}

@media screen and (min-width: 769px) {
	.sp{
		display:none !important;
	}

	body{
		font-size:1.6em;
	}

	.cont_wrap{
		position:relative;
	}

	.main_cont{
		width:100%;
		padding:0 30px 60px 310px;
	}

	.side_cont{
		position:absolute;
		top:0;
		left:30px;
		width:250px;
		height:100%;
		overflow-y:auto;
	}
}
@media screen and (max-width: 768px) {
	.pc{
		display:none !important;
	}

	body{
		font-size:1.4em;
	}

	.cont_wrap{
		padding-top:40px; 
	}

	.main_cont, .side_cont{
		padding:20px;
	}
}
@media screen and (max-width: 414px) {
}



/* ----- BLOCK ----- */

.inner{
	width:100%;
	max-width:1400px;
	margin:0 auto;
}

@media screen and (min-width: 769px) {
	.inner{
		padding:30px 30px 50px;
	}

	ul.col2, ul.col3, ul.col4{
		letter-spacing:-.4em
	}
	ul.col2 li, ul.col3 li, ul.col4 li{
		display:inline-block;
		letter-spacing:normal;
		vertical-align:top;
	}
	ul.col2 li{
		width:50%;
	}
	ul.col3 li{
		width:33.3%;
	}
}
@media screen and (max-width: 768px) {
	.inner{
		padding:20px;
	}
}
@media screen and (max-width: 414px) {
}



/* ----- TEXT ----- */

.hannari{
	font-family: "Hannari",serif;
}

p, .txt{
	line-height:1.7;
}

.bold{
	font-weight:bold;
}

.right{
	text-align:right;
}
.center{
	text-align:center;
}

@media screen and (min-width: 769px) {
	.pcbl{
		display:block;
	}
}


/* ----- COLOR ----- */



/* ----- TITLE ----- */


/* page title */
.page_ttl{
}
.page_ttl .ttl{
	border-bottom:3px solid #fcc70a;
}

/* section title */
.sec_ttl{
	margin-bottom:.6em;
	text-align:center;
}
.sec_ttl span{
	display:inline-block;
	padding-bottom:.6em;
	border-bottom:2px solid #fcc70a;
}

/* relation title */
.rel_ttl{
	padding:.5em 0;
	border-bottom:3px solid #eaeaea;
}

@media screen and (min-width: 769px) {
	/* sub page */
	.page_ttl{
		margin-bottom:40px;
	}
	.page_ttl .ttl{
		height:65px;
		padding-top:13px;
		margin-bottom:10px;
		font-size:3.6rem;
	}

	/* section title */
	.sec_head{
		margin-bottom:40px;
	}
	.sec_ttl{
		font-size:3.6rem;
	}
	.sec_ttl + p{
		text-align:center;
	}

	/* relation title */
	.rel_ttl{
		margin-bottom:40px;
		font-size:2.4rem;
	}
}
@media screen and (max-width: 768px) {
	/* sub page */
	.page_ttl{
		margin-bottom:20px;
		text-align:center;
	}
	.page_ttl .ttl{
		display:inline-block;
		padding:10px 0;
/*		margin-bottom:20px;*/
		font-size:2.5rem;
	}

	/* section title */
	.sec_head{
		margin-bottom:20px;
	}
	.sec_ttl{
		font-size:2.5rem;
	}
	.sec_ttl span{
		border-bottom-width:1px;
	}
	.sec_ttl + p{
		font-size:1.6rem;
	}

	/* relation title */
	.rel_ttl{
		margin-bottom:20px;
		font-size:1.9rem;
	}
}
@media screen and (max-width: 414px) {
}



/* ----- LINK ----- */

a{
	color:#333;
	text-decoration:none;
}
a.link{
	color:#f08200;
	text-decoration:underline;
}
a.nolink{
	cursor:default;
	pointer-events:none;
}
a.out::after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	width:1em;
	height:1em;
	margin-left:.5em;
	background:url(../images/icon_out_orange.png) left center;
	background-size:cover;
}


@media screen and (min-width: 769px) {
	a:hover{
		opacity:0.7;
	}
	a.tel{
		pointer-events:none;
	}
}
@media screen and (max-width: 768px) {
	a.ontap{
		opacity:0.7;
	}
	a.arrow.ontap{
		opacity:1;
		color:#d87500;
	}
	
	a.arrow{
		position:relative;
		display:block;
		padding:15px 30px 15px 0;
	}
	a.arrow::before{
		content:"";
		position:absolute;
		top:18px;
		right:4px;
		display:block;
		width:12px;
		height:12px;
		border-right:2px solid #707070;
		border-bottom:2px solid #707070;
		-webkit-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}	
	a.arrow.ttl{
		font-size:1.9rem;
	}
}
@media screen and (max-width: 414px) {
}


/* button */

.btnwrap{
	text-align:center;
}

.btn{
	position:relative;
	display: inline-block;
	padding:.8em 1.6em;
	background:#fff;
	border:1px solid #d9d9d9;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#333;
	vertical-align:top;
}

.btn.arrow{
	padding:1em 2em 1em 1em;
}
.btn.arrow::before{
	content:"";
	display:block;
	width:15px;
	height:15px;
	position:absolute;
	top:50%;
	right:1em;
	margin-top:-8px;
	border-right:3px solid #eaeaea;
	border-bottom:3px solid #eaeaea;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.btn.arrow.gray{
	background:#707070;
	color:#fff;
	border:none;
	box-shadow:0px 3px 8px 0px rgba(0,0,0,0.27);
}
.btn.arrow.gray::before{
	border-color:#fff;
}

.btn.nolink{
	display:block;
	margin:0 auto;
	padding:6px;
	position:relative;
	border:1px solid #d9d9d9;
	background:#fff;
	text-align:center;
	color:#666;
}

@media screen and (min-width: 769px) {
	.btnwrap{
		padding:30px 0;
	}
	.btn{
		font-size:1.8rem;
	}
	.btn:hover{
		opacity:1;
		background:#fcc70a;
		border-color:#fcc70a;
	}

	.btn.arrow:hover::before{
		border-color:#333;
	}

	.btn.arrow.gray{
		padding:1em 3em 1em 2em;
		font-size:2.2rem;
	}
	.btn.arrow.gray:hover{
		background-color:#666;
		box-shadow:0px 5px 20px 0px rgba(0,0,0,0.5);
	}
	.btn.arrow.gray:hover::before{
		border-color:#fff;
	}
}
@media screen and (max-width: 768px) {
	.btnwrap{
		padding:15px 0;
	}
	.btn{
		font-size:1.4rem;
	}
	.btn.ontap{
		opacity:1;
		background:#fcc70a;
		border-color:#fcc70a;
	}

	.btn.arrow.ontap::before{
		border-color:#333;
	}

	.btn.arrow.gray{
		width:100%;
		padding:1em 2em 1em 1em;
		font-size:1.7rem;
	}
	.btn.arrow.gray.ontap{
		background-color:#666;
		box-shadow:0px 5px 20px 0px rgba(0,0,0,0.5);
	}
	.btn.arrow.gray.ontap::before{
		border-color:#fff;
	}
}
@media screen and (max-width: 414px) {
}


/* breadcrumb */

@media screen and (min-width: 769px) {
	.breadcrumb{
		padding:20px 30px;
	}
	.breadcrumb li{
		display:inline-block;
		font-size:1.4rem;
		color:#999;
	}
	.breadcrumb a{
		position:relative;
		display:inline-block;
		color:#333;
		padding-right:2em;
		margin-right:1em;
	}
	.breadcrumb a::after{
		content:"";
		position:absolute;
		top:2px;
		right:0;
		display:block;
		width:10px;
		height:10px;
		border-right:1px solid #6d6d6d;
		border-bottom:1px solid #6d6d6d;
		-webkit-transform:rotate(-45deg);
		transform:rotate(-45deg);
		margin-left:10px;
	}
}
@media screen and (max-width: 768px) {
	.breadcrumb{
		display:none;
	}
}

/* pager */

.pager{
	letter-spacing:-.4em;
	text-align:center;
}
.pager li{
	display:inline-block;
	letter-spacing:normal;
	background:#fff;
}
.pager li:last-child{
	margin-right:0;
}
.pager a{
	display:block;
	color:#333;
	text-decoration:none;
	border:1px solid #d9d9d9;
}
.pager .active a,
.pager .inactive a{
	cursor:default;
	pointer-events:none;
}
.pager .active a{
	background:#fcc70a;
	border-color:#fcc70a;
}
.pager .inactive a{
	color:#d9d9d9;
}

@media screen and (min-width: 769px) {
	.pager{
		padding:50px 0 30px;
	}
	.pager li{
		margin:0 20px 20px 0;
	}
	.pager a{
		width:58px;
		height:58px;
		padding:20px 0;
		font-size:1.8rem;
	}
	.pager a:hover{
		opacity:1;
		background-color:#fcc70a;
		border-color:#fcc70a;
	}
	.pager a.inactive:hover{
		background:#fff;
		pointer-event:none;
	}

}
@media screen and (max-width: 768px) {
	.pager{
		padding-top:25px;
	}
	.pager li{
		margin-right:10px;
	}
	.pager a{
		width:50px;
		height:50px;
		padding:18px 0;
		font-size:1.4rem;
	}

	.pager a.ontap{
		background:#fcc70a;
		border-color:#fcc70a;
	}
}
@media screen and (max-width: 414px) {
}


/* list */

.dot li{
	position:relative;
	padding-left:1.2em;
}
.dot li::before{
	content:"●";
	color:#fcc70a;
	position: absolute;
	left:0;
}


/* text list */

.txt_list{
}
.txt_list li{
	position:relative;
	border-bottom:1px solid #eaeaea;
	line-height:1.3;
}
.txt_list a{
	display:block;
	color:#d87500;
}
.txt_list a.nolink{
	color:#333;
}
.txt_list a span{
	display:block;
}

.txt_list .list_head{
	display:block;
	letter-spacing:-.4em;
}
.txt_list .date, .txt_list .ctgr, .txt_list .tag{
	display:inline-block;
	letter-spacing:normal;
	position:relative;
}
.txt_list .date{
	width:6em;
}
.txt_list .ctgr{
	padding:.1em;
	border:1px solid #eaeaea;
  border-radius: 5px;
	text-align:center;
}

.txt_list .tag{
	width:4em;
	padding:.2em;
	background:#f5f5f5;
	text-align:center;
}


@media screen and (min-width: 769px) {
	.txt_list li{
		padding-left:15em;
	}

	.txt_list .list_head{
		position:absolute;
		top:0;
		left:0;
		padding:1.5em 0;
	}
	.txt_list .ctgr{
		width:9em;
		font-size:1.4rem;
	}
	.txt_list .tag{
		font-size:1.4rem;
	}

	.txt_list.media li{
		padding-left:11em;
	}

	.txt_list a{
		padding:1.5em 0;
	}
	.txt_list a:hover{
		opacity:1;
		text-decoration:underline;
	}
}
@media screen and (max-width: 768px) {
	.txt_list li{
		padding:15px 0;
	}
	.txt_list a.ontap{
		opacity:1;
		text-decoration:underline;
	}

	.txt_list .list_head{
		margin-bottom:15px;
		font-size:1.2rem;
	}
	.txt_list .date{
		line-height:1.5;
	}
}
@media screen and (max-width: 414px) {
}


/* card list */

.card_list{
}
.card_list li{
	position:relative;
	background:#fff;
	box-shadow:0px 3px 16px 0px rgba(0,0,0,0.07);
}
.card_list li:nth-child(1){	z-index:12;}
.card_list li:nth-child(2){	z-index:11;}
.card_list li:nth-child(3){	z-index:10;}
.card_list li:nth-child(4){	z-index:9;}
.card_list li:nth-child(5){	z-index:8;}
.card_list li:nth-child(6){	z-index:7;}
.card_list li:nth-child(7){	z-index:6;}
.card_list li:nth-child(8){	z-index:5;}
.card_list li:nth-child(9){	z-index:4;}
.card_list li:nth-child(10){	z-index:3;}
.card_list li:nth-child(11){	z-index:2;}
.card_list li:nth-child(12){	z-index:1;}

.card_list li a{
	display:block;
}

.card_list .img{
	position:relative;
	display:block;
	width:100%;
	margin-bottom:15px;
	padding-top:60%;
	overflow:hidden;
}
.card_list .img img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.card_list .list_head{
	display:block;
	padding:0 20px;
	clear:both;
	overflow:hidden;
	font-size:1.4rem;
	color:#707070;
}
.card_list .date{
	float:left;
	line-height:2.4rem;
}
.card_list .ctgr{
	float:right;
	display:block;
	padding:.3em .5em;
	border:1px solid #eaeaea;
	border-radius:5px;
}
.card_list .txt{
	display:block;
	padding:15px 20px;
	font-weight:bold;
	text-overflow: ellipsis;
}

@media screen and (min-width: 769px) {
	.card_list{
		letter-spacing:-.4em;
	}
	.card_list li{
		position:relative;
		display:inline-block;
		width:33.3%;
		letter-spacing:normal;
		vertical-align:top;
	}
	.card_list li:hover{
		z-index:13;
		box-shadow:0px 3px 36px 0px rgba(0,0,0,0.27);
	}
	.card_list a{
		min-height:500px;
	}

	.card_list .txt{
		font-size:1.8rem;
	}
}
@media screen and (max-width: 768px) {
	.card_list li{
		margin-bottom:20px;
	}
	.card_list li.ontap{
		box-shadow:0px 3px 36px 0px rgba(0,0,0,0.27);
	}

	.card_list .txt{
		font-size:1.5rem;
	}
}
@media screen and (max-width: 414px) {
}



/* toggle */

.tgl_sw{
	display:none;
}

.tgl_sw ~ .tgl_cont{
	display:none;
}
.tgl_sw:checked ~ .tgl_cont{
	display:block;
}

.tgl_sw ~ .tgl_lbl{
	position:relative;
	display:block;
	padding:15px 30px 15px 0;
	font-size:1.9rem;
}
.tgl_sw ~ .tgl_lbl::after{
	content:"";
	position:absolute;
	top:15px;
	right:4px;
	display:block;
	width:12px;
	height:12px;
	border-right:2px solid #707070;
	border-bottom:2px solid #707070;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.tgl_sw:checked ~ .tgl_lbl::after{
	top:22px;
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg);
}


@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}



/* image */

img{
	max-width:100%;
	vertical-align:top;
}

.img{
	display:block;
	text-align:center;
}

/* tag */

iframe[name="google_conversion_frame"] {
	position: absolute;
	top: 0;
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}



/* ===== HEADER ===== */

.header_wrap{
	position:relative;
	background-color:#fff;
}

.gnav{
}
.gnav li{
}
.gnav a{
	display:block;
	font-weight:bold;
}
.gnav .lang a{
	font-weight: normal;
}

@media screen and (min-width: 769px) {
	.gnav{
		display:table;
		width:100%;
	}
	.gnav li{
		display:table-cell;
		border-bottom:4px solid #eaeaea;
		vertical-align:middle;
		text-align:center;
	}
	.gnav li:hover{
		background-color:#fcc70a;
		border-color:#fcc70a;
	}
	.gnav li.h_logo:hover,
	.gnav li.lang:hover{
		background-color: transparent;
		border-color: #eaeaea;
	}
	.gnav a{
		/*height:90px;*/
		height:63px;
		padding:.5em;
	}
	.gnav a:hover{
		opacity:1;
	}
	.gnav li.lang a:hover{
		opacity:0.7;
	}
	.gnav a span{
		display:block;
		position:relative;
		top:50%;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.gnav li.h_logo{
		width:20%;
		text-align:left;
	}
	.gnav li.h_logo a{
		padding:.5em .5em .5em 30px;
	}
	.gnav li.h_logo img{
		min-width:150px;
		vertical-align:middle;
	}
	.gnav li.lang a{
		display:inline;
	}
	.gnav li.lang a.on{
		color:#d87500;
	}
	.gnav li.lang{
		min-width:137px;
	}
	.gnav li.lang a.ja{
		position:relative;
	}
	.gnav li.lang a.ja::after{
		content:" | ";
		position:absolute;
		right:-2px;
		color:#333;
	}

	.tgl_sw ~ .tgl_cont{
		display:block;
	}

}
@media screen and (max-width: 1160px) {
	.gnav a{
		font-size:1.5rem;
	}
}
@media screen and (max-width: 768px) {
	.header_wrap{
		position:fixed;
		top:0;
		left:0;
		z-index:101;
		width:100%;
		height:40px;
		border-bottom:2px solid #eaeaea;
	}

	.h_logo{
		padding:9px 10px;
	}
	.h_logo a{
		display:inline-block;
	}
	.h_logo img{
		height:12px;
		vertical-align:middle;
	}

	.tgl_sw:checked ~ .tgl_cont.gnav_wrap {
		position: fixed;
		top:40px;
		left:0;
		bottom:0;
		right:0;
		z-index:100;
		padding:20px;
		overflow-y:scroll;
	}
	.tgl_sw:checked ~ .tgl_cont.gnav_wrap::before{
		content:"";
		display:block;
		width:100%;
		height:120%;
		position:fixed;
		top:40px;
		left:0;
		z-index:-1;
		background-color:rgba(0,0,0,0.66);
	}

	.gnav_sw_oc{
		position:absolute;
		top:0;
		right:0;
		display:block;
		width:40px;
		height:38px;
		background: url(../images/icon_sw_o.png) center center;
		background-size:38px;
	}
	.tgl_sw:checked + .gnav_sw_oc{
		background: url(../images/icon_sw_c.png) center center;
		background-size:38px;
	}

	.gnav > li{
		border-bottom:1px solid #cfcfcf;
	}

	.gnav label, .gnav a, .gnav .ttl{
		color:#fff;
	}

	.gnav .tgl_sw ~ .tgl_lbl{
		padding-left:0;
	}
	.gnav .tgl_sw ~ .tgl_lbl::after{
		border-color:#fff;
	}

	.gnav a.arrow::before{
		border-color:#fff;
	}


	.subnav li{
		padding-left:20px;
		border-top:1px solid #cfcfcf;
	}
	.subnav a.arrow, .subnav .ttl{
		font-size:1.6rem;
	}
	.subnav .ttl{
		padding:15px 15px 15px 0;
	}

	.nav_privacy{
		display:block;
		margin:30px 0;
		font-size:1.5rem;
		text-align:center;
	}
	.head.nav_privacy{
		color:#fff;
	}

	.lang{
		margin-bottom:30px;
		letter-spacing:-.4em;
		text-align:center;
	}
	.lang a{
		display:inline-block;
		width:120px;
		padding:10px;
		letter-spacing: normal;
		background:#cfcfcf;
		border:1px solid #cfcfcf;
		font-size:1.9rem;
		text-align:center;
	}
	.lang a.ja{
		border-radius:25px 0 0 25px;
	}
	.lang a.en{
		border-radius:0 25px 25px 0;
	}
	.lang a.on{
		background:#fff;
		color:#d87500;
	}
	
	.gnav_sw_c{
		position:relative;
		z-index:100;
		display:block;
		padding:10px 0;
		border:1px solid #cfcfcf;
		text-align:center;
		font-size:1.9rem;
		color:#fff;
	}
	
}
@media screen and (max-width: 414px) {
}


/* ===== FOOTER ===== */

footer{
	position:relative;
}

.fnav{
	background:#f8f8f8;
}

.fnav a.out::after{
	background:url(../images/icon_out.png) left center;
	background-size:cover;
}

.f_copy{
	border-top:1px solid #eaeaea;
}

.gotop{
	position:fixed;
	bottom:100px;
	right:10px;
	z-index:90;
	display:block;
	background:#000;
	border-radius:50%;
	box-shadow:0px 3px 8px 0px rgba(0,0,0,0.27);
}
.gotop::before{
	content:"";
	position: relative;
	display:block;
	border-top:4px solid #fff;
	border-right:4px solid #fff;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}


@media screen and (min-width: 769px) {
	.fnav{
		font-size:1.4rem;
		line-height:1.6;
	}
	.fnav .inner{
		display:table;
		width:100%;
	}
	.fnav_bl{
		display:table-cell;
		width:20%;
		padding-right:1em;
		vertical-align:top;
	}
	.fnav_bl:last-child{
		padding-right:0;
	}
	.fnav_bl > div{
		margin-bottom:1em;
	}

	.fnav_bl ul li{
		position:relative;
		padding-left:1em;
		list-style:outside none;
	}
	.fnav_bl ul li::before{
		content:"・";
		position:absolute;
		left:0;
	}

	.fnav .ttl{
		font-size:100%;
		font-weight:bold;
	}
	.fnav p.ttl{
		font-weight: normal;
	}
	
	.fnav .lang{
		display:none;
	}
	
	.f_sns{
		padding:15px 30px;
		text-align:center;
		letter-spacing:-.4em;
	}
	.f_sns li{
		position:relative;
		display:inline-block;
		padding:0 1em;
		letter-spacing:normal;
	}
	.f_sns li::after{
		content:"";
		position:absolute;
		top:3px;
		right:0;
		display:block;
		width:1px;
		height:28px;
		background:#eaeaea;
	}
	.f_sns li:last-child::after{
		display:none;
	}

	.f_copy .inner{
		clear:both;
		overflow:hidden;
		padding:24px 30px;

	}
	.f_copy .site{
		float:right;
		font-size:1.4rem;
		line-height:2;
	}
	.f_copy .copy{
		float:left;
		padding:8px 0;
		font-size:1.2rem;
		line-height:1;
	}

	.gotop{
		width:50px;
		height:50px;
	}
	.gotop::before{
		top:20px;
		left:17px;
		width:16px;
		height:16px;
	}

	.fnav .tgl_sw ~ .tgl_lbl{
		padding:0;
	}
	.fnav .tgl_sw ~ .tgl_lbl::after{
		display:none;
	}


}
@media screen and (max-width: 768px) {
	.fnav{
		margin-top:86px;
	}

	.fnav .arrow.ttl, .tgl_lbl.ttl{
		border-bottom:1px solid #cfcfcf;
		font-size:1.9rem;
		font-weight:bold;
	}
	.fnav .tgl_lbl a{
		pointer-events:none;
	}

	.fnav li{
		padding-left:20px;
		border-bottom:1px solid #cfcfcf;
	}

	.fnav a.arrow{
		font-size:1.6rem;
		line-height:1.9rem;
	}

	.fnav .ttl.tgl_cont{
		padding:10px 20px;
		border-bottom:1px solid #cfcfcf;
		font-size:1.6rem;
		font-weight:bold;
		line-height:1.9rem;
	}
		
	.fnav .lang{
		margin-bottom:10px;
	}
	
	.f_sns{
		padding:20px;
		text-align:center;
	}
	.f_sns .want{
		position:absolute;
		top:-86px;
		left:0;
		width:100%;
		padding:0 20px;
	}
	.f_sns .want a{
		display:block;
		width:100%;
		padding:10px 0;
		border:1px solid #cfcfcf;
	}
	
	.f_copy .site{
		margin-bottom:20px;
		text-align:center;
	}
	.f_copy .site span{
		display:block;
		margin-bottom:1em;
		font-size:1.5rem;
	}
	.f_copy .site a{
		display: inline-block;
		margin:0 .5em;
	}

	.f_copy .copy{
		text-align:center;
		font-size:1.3rem;
	}

	.gotop{
		width:30px;
		height:30px;
	}
	.gotop::before{
		top:12px;
		left:10px;
		width:10px;
		height:10px;
		border-width:2px;
	}
}
@media screen and (max-width: 414px) {
}


/* ===== SIDE CONTENTS ===== */

.side_cont .ttl{
}
.side_cont .ttl h3{
	border-bottom:3px solid #eaeaea;
}

@media screen and (min-width: 769px) {
	.side_cont .ttl h3{
		height:65px;
		margin-bottom:10px;
		padding-top:30px;
		font-size:2.0rem;
	}
	.side_cont .ttl h3 .fs{
		font-size:1.4rem;
	}

	.side_nav{
	}
	.side_nav li{
	}
	.side_nav a{
		position:relative;
		display:block;
		padding:12px;
	}
	.side_nav a::before{
		content:"●";
		position:relative;
		top:-3px;
		display:inline-block;
		margin-right:.5em;
		font-size:1.0rem;
		color:#eaeaea;	
	}
	
	.side_nav a:hover,
	.side_nav a:hover::before{
		opacity:1;
		background:#f6f6f6;
		color:#d87500;
	}
}
@media screen and (max-width: 768px) {
	.side_cont .ttl {
		margin-bottom:10px;
		padding-top:20px;
		text-align:center;
	}
	.side_cont .ttl:first-child {
		padding-top:0;
	}
	.side_cont .ttl h3{
		display:inline-block;
		padding-bottom:10px;
		font-size:2.0rem;
		border-width:1px;
	}
	.side_cont .ttl h3 .fs{
		font-size:1.4rem;
	}

	.side_nav{
		margin-bottom:20px;
	}
	.side_nav li{
		border-bottom:1px solid #eaeaea;
	}
	.side_nav a.arrow{
		font-size:1.9rem;
	}
}
@media screen and (max-width: 414px) {
}



/* ===== ARTICLE CONTENTS ===== */

.article.inner{
	max-width:800px;
}

.article h2, .article h3{
	border-bottom:3px solid #eaeaea;
	line-height:1.4;
}
.article p{
}
.article a{
	color:#d87500;
}

.article figure{
	text-align:center;
}
.article figcaption{
	font-size:1.4rem;
	line-height:1.3;
}
.article figure img{
	margin-bottom:.5em;
}

.article_head{
	clear:both;
	overflow:hidden;
}
.article_head .ttl{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:3px solid #eaeaea;
}
.article_head .date{
	display:inline-block;
	margin:0 1em 10px 0;
}
.article_head .tags{
	display:inline;
}
.article_head .tag{
	display:inline-block;
	padding:.2em .5em;
	margin:0 1em 10px 0;
	border:1px solid #eaeaea;
	border-radius:5px;
}
.article_head .sns{
	float:right;
}

.article .headline{
	border:6px solid #fcc70a;
	border-radius:6px;
	font-weight:bold;
	text-align:center;
}
.article .headline h2{
	padding:0;
	margin:0;
	border:none;
}

.article dl{
	letter-spacing:-.4em;
}
.article dt, .article dd{
	display:inline-block;
	letter-spacing:normal;
	vertical-align:top;
	line-height:2.1;
}
.article dt{
	width:20%;
}
.article dd{
	width:80%;
}

.article ul{
	list-style:outside square;
	margin-left:1.5em;
}
.article ol{
	list-style:outside decimal;
	margin-left:1.5em;
}
.article li{
	line-height:2.1;
}

.related_item .inner{
	max-width:1340px;
	padding-left:0;
	padding-right:0;
}
.related_item .ttl{
	padding-bottom:10px;
	border-bottom:3px solid #eaeaea;
}

@media screen and (min-width: 769px) {
	.article.inner{
		padding:0 0 60px;
	}

	.article h2, .article h3{
		padding-bottom:10px;
		margin:40px 0;
	}
	.article h2{
		font-size:2.4rem;
	}
	.article h3{
		font-size:2.0rem;
	}
	.article p{
		line-height:2.1;
	}

	.col2, .col3, .col4{
		letter-spacing:-.4em;
		margin-bottom:30px;
	}
	.col2 figure, .col3 figure, .col4 figure{
		display:inline-block;
		letter-spacing:normal;
		vertical-align:top;
		margin:0 2% 2% 0;
	}
	.col2 figure{
		width:49%;
	}
	.col3 figure{
		width:32%;
	}
	.col4 figure{
		width:23.5%;
	}
	.col2 figure:nth-child(2n),
	.col3 figure:nth-child(3n),
	.col4 figure:nth-child(4n){
		margin-right:0;
	}

	.article .img_r{
		float:right;
		padding:0 0 20px 20px;
	}
	.article .img_l{
		float:left;
		padding:0 20px 20px 0;
	}

	.article_head{
		margin-bottom:70px;
	}
	.article_head .ttl{
		font-size:2.6rem;
		line-height:1.2;
	}
	.article_head .tag{
		font-size:1.4rem;
	}

	.article .headline{
		padding:40px 20px;
		margin-bottom:20px;
		font-size:1.8rem
	}
	.article .headline h2{
		font-size:2.8rem
	}
	.article .headline .small{
		font-size:1.6rem
	}

	.related_item .ttl{
		margin-bottom:40px;
		font-size:2.6rem;
	}
}
@media screen and (max-width: 768px) {
	.article.inner{
		padding:0 0 30px;
	}

	.article h2, .article h3{
		border-width:1px;
		padding-bottom:5px;
		margin:30px 0;
		font-size:2.1rem;
	}
	.article p{
		line-height:1.8;
	}

	.col2 figure, .col3 figure, .col4 figure{
		margin-bottom:20px;
	}

	.article .img_r, .article .img_l{
		display:block;
		margin:0 auto 1em;
	}

	.article_head{
		margin-bottom:30px;
	}
	.article_head .ttl{
		border-width:1px;
		font-size:2.1rem;
		line-height:1.2;
		text-align:center;
	}
	.article_head .tag{
		font-size:1.2rem;
	}

	.article .headline{
		padding:20px 20px;
		margin-bottom:20px;
		font-size:1.4rem
	}
	.article .headline h2{
		font-size:1.4rem
	}
	.article .headline .small{
		font-size:1.2rem
	}	

	.related_item .ttl{
		margin-bottom:30px;
		font-size:2.1rem;
	}
}
@media screen and (max-width: 414px) {

