@charset 'UTF-8';

/* ===== TOP ===== */

/* kv */
.kv{
	position:relative;
}
.kv_box{
	position:absolute;
	width:13em;
	padding:1.5em 2em;
	background:rgba(255,255,255,0.93);
	font-family: "Hannari",serif;
	line-height:2;
}

/* about */
.about.img{
	margin-bottom:1em;
}
.about.ttl{
	display:block;
	margin-bottom:.5em;
	text-align:center;
	font-weight:bold;
}

/* service */
.top_service_box .gochi{
	background:url(../images/service/bg_service_01.png) center;
}
.top_service_box .sya{
	background:url(../images/service/bg_service_02.png) center;
}
.top_service_box .gochi, .top_service_box .sya{
		background-size: cover;
}

.top_service_box a{
	position:relative;
	display:block;
	font-size:1.4rem;
}
.top_service_box .gochi a{
	color:#fff;
}
.top_service_box .mid{
	position: relative;
	top:50%;
	display:block;
	width:100%;
	max-width:410px;
	margin:auto;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.top_service_box .img{
	text-align:center;
}

/* top txt_list */
.top .txt_list{
	max-width:980px;
	margin:auto;
}
.top .txt_list li{
	margin-bottom:1em;
	padding:0 0 0 11em;
	border:none;
}

.top .txt_list .list_head{
	padding:0;
}

/* award */
.award .txt_list .list_head{
	width:7.8em;
	background:url(../images/icon_award.png) right top no-repeat;
	background-size:contain;
	line-height:1.5;
}

/* media */
.top.media .txt_list a{
	display:inline;
	padding:0;
}

/* recruit */
.top_recruit .slider a{
	display:block;
}

@media screen and (min-width: 769px) {
	/* kv */
	.kv{
		margin-bottom:60px;
	}
	.kv_box{
		top:50%;
		right:10%;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
		font-size:2.4rem;
	}

	/* about */
	.top_about .col3 li{
		padding:0 25px;
		font-size:1.4rem;
	}
	.about.ttl{
		font-size:2.4rem;
	}

	/* service */
	.top_service_box{
		display:table;
		width:100%;
		margin-bottom:20px;
	}
	.top_service_box .gochi, .top_service_box .sya{
		display:table-cell;
		width:50%;
	}
	.top_service_box a{
		height:345px;
		padding:20px;
	}
	.top_service_box .img{
		margin-bottom:2em;
	}

	/* news */
	.news .btn{
		width:23.5%;
		max-width:240px;
		margin-right:2%;
	}
	.news .btn:last-child{
		margin-right:0;
	}


	/* award */
	.award.top .txt_list li{
		padding-left:9em
	}

	/* recruit */
	.top_recruit .slider{
		margin-bottom:30px;
	}
	.top_recruit .slider li{
		overflow:visible;
	}
	.top_recruit .slider li:hover img{
		box-shadow:0px 3px 36px 0px rgba(0,0,0,0.27);
	}
}
@media screen and (max-width: 768px) {
	/* kv */
	.kv{
		margin-bottom:9em;
	}
	.kv_box{
		bottom:0;
		left:50%;
		-webkit-transform:translate(-50%,50%);
		transform:translate(-50%,50%);
		box-shadow:0px 0px 0px 1px #ccc;
		font-size:2.0rem;
	}

	/* about */
	.about.ttl{
		font-size:1.9rem;
	}
	.about.txt{
		display:block;
		margin-bottom:1em;
	}

	/* service */
	.top_service_box{
	}
	.top_service_box .gochi, .top_service_box .sya{
		margin-bottom:20px;
	}
	.top_service_box a{
		height:200px;
		padding:20px 40px 20px 20px;
	}
	.top_service_box a::before{
		content:"";
		display:block;
		width:20px;
		height:100%;
		position:absolute;
		top:0;
		right:0;
		background:#707070;
	}
	.top_service_box a::after{
		content:"";
		display:block;
		width:10px;
		height:10px;
		position:absolute;
		right:4px;
		top:50%;
		border-right:2px solid #fff;
		border-bottom:2px solid #fff;
		-webkit-transform:rotate(-45deg) translateY(-50%);
		transform:rotate(-45deg) translateY(-50%);
	}
	.top_service_box .img{
		margin-bottom:1em;
	}
	.top_service_box img{
		height:30px;
	}

	/* news */
	.news .btnwrap{
		clear:left;
		overflow:hidden;
	}
	.news .btn{
		float:left;
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
	}
	.news .btn:nth-child(2n){
		margin-right:0;
	}

	/* top txt_list */
	.top .txt_list li{
		padding-left:8.5em;
	}
	.top .txt_list .list_head{
		position:absolute;
		top:0;
		left:0;
	}
	.top .txt_list .date{
		width:5.5em;
	}
	.top .txt_list .tag{
		font-size:1.0rem;
	}

	/* award */
	.top.award .txt_list li{
		padding-left:7em;
	}
	.top.award .txt_list .list_head{
		width:7.5em
	}

	/* recruit */
	.top_recruit .ttl_un + p{
		text-align:center;
	}
	.top_recruit .slider{
		margin-bottom:20px;
	}
	.top_recruit .slider li.ontap img{
		box-shadow:0px 3px 36px 0px rgba(0,0,0,0.27);
	}
}
@media screen and (max-width: 414px) {
}


/* ===== RECRUIT ===== */

.job_list li{
}

.job_card{
	display:block;
	border:3px solid #eaeaea;
	text-align:left;
}
.job_card p{
	font-weight:normal;
}


/* MESSAGE */


/* CARRER */
.kv.career{
	background-color:#fcc70a;
	text-align:center;
	font-weight:bold;
}

.career_msg p{
	margin-bottom:1.7em;
}

.carrer_p_link{
}
.carrer_p_link li{
}
.carrer_p_link .btn{
	width:100%;
	border:none;
	background-color:#5e5e5e;
	line-height:1.2;
	color:#fff;
}
.carrer_p_link .btn span{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	padding:10px 40px 10px 15px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.carrer_p_link .btn.arrow::before{
	border-color:#fff;
	margin-top:-10px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.carrer_p_link li:first-child .btn{
	background-color:#fcc70a;
	color:#333;
}
.carrer_p_link li:last-child .btn{
	background-color:#868686;
}
.carrer_p_link li:first-child .btn.arrow::before{
	border-color:#333;
}

.requirement{
}
.requirement dt{
	font-weight:bold;
}
.requirement dd{
}

table.step th{
	padding-right:1em;
	text-align:left;
}

/* ARBEIT */


/* PEOPLE */
.card_list.people .ctgr{
	float:none;
	padding:0;
	border:none;
}


/* FAQ */



@media screen and (min-width: 769px) {
	.job_list{
/*		padding:30px 0;
		margin-bottom:0;*/
	}
	.job_list li{
		margin-bottom:30px;
	}
	.job_list li:nth-child(2n){
		padding-left:20px;
	}
	.job_list li:nth-child(2n+1){
		padding-right:20px;
	}
	
	.job_card{
		padding:20px;
	}
	.job_card h3{
		margin-bottom:.5em;
		font-size:2.4rem;
	}

	/* MESSAGE */
	
	
	/* CARRER */
	.kv.career{
		padding:60px 20px;
		font-size:3.6rem;
		line-height:1.5;
	}
	.kv.career span{
		display:block;
	}

	.career_msg{
		margin-bottom:60px;
		font-size:2.0rem;
	}
	
	.carrer_p_link{
		margin-bottom:60px;
	}
	.carrer_p_link .btn{
		height:90px;
		font-size:2.0rem;
	}

	.requirement{
		letter-spacing:-.4em;
		overflow:hidden;
	}
	.requirement dt, .requirement dd{
		display:inline-block;
		letter-spacing:normal;
		vertical-align:top;
		padding:1em 0;
		line-height:1.7;
	}
	.requirement dt{
		width:25%;
	}
	.requirement dd{
		position:relative;
		width:75%;
	}
	.requirement dd::after{
		content:"";
		display:block;
		width:800px;
		height:1px;
		position:absolute;
		right:0;
		bottom:0;
		background-color:#ccc;
	}

	/* ARBEIT */
	
	
	/* PEOPLE */
	.card_list.people a{
		height:415px;
	}
	
	
	/* FAQ */

}
@media screen and (max-width: 768px) {
	.job_list{
	}
	.job_list li{
		margin-bottom:20px;
	}
	.job_card{
		padding:20px;
	}
	.job_card h3{
		margin-bottom:.5em;
		font-size:1.8rem;
	}

	/* MESSAGE */
	
	
	/* CARRER */
	.kv.career{
		margin-bottom:30px;
		padding:30px 20px;
		font-size:2.4rem;
		line-height:1.5;
	}
	.kv.career span{
	}

	.career_msg{
		margin-bottom:30px;
	}

	.carrer_p_link{
		margin-bottom:30px;
	}
	
	
	/* ARBEIT */
	
	
	/* PEOPLE */
	
	
	/* FAQ */
}
@media screen and (max-width: 414px) {
}


/* ===== XXX ===== */

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ===== XXX ===== */

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ===== XXX ===== */

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}
