		<!-- div class="side_cont" -->
			<div class="ttl">
				<h3>新着情報</h3>
			</div>
			<ul class="side_nav nav">
				<li><a href="/recruit/message.html" class="tap arrow">採用メッセージ</a></li>
				<li><a href="/recruit/career/" class="tap arrow">キャリア採用</a></li>
				<li><a href="/recruit/graduate/" class="tap arrow">新卒採用（準備中）</a></li>
				<li><a href="/recruit/arbeit/" class="tap arrow">アルバイト採用</a></li>
				<li><a href="/recruit/people.html" class="tap arrow">人と仕事を知る</a></li>
				<li><a href="/recruit/faq.html" class="tap arrow">採用FAQ</a></li>
			</ul>
		<!-- /div -->
