		<!-- div class="side_cont" -->
			<div class="ttl">
				<h3>年別<span class="fs">（プレスリリース）</span></h3>
			</div>
			<ul class="side_nav nav">
				<li><a href="#" class="tap arrow">2018年</a></li>
				<li><a href="/category/pressrelease/year_2017.html" class="tap arrow">2017年</a></li>
				<li><a href="#" class="tap arrow">2016年</a></li>
				<li><a href="#" class="tap arrow">2015年</a></li>
				<li><a href="#" class="tap arrow">2014年</a></li>
				<li><a href="#" class="tap arrow">2013年</a></li>
				<li><a href="#" class="tap arrow">2012年</a></li>
			</ul>
		<!-- /div -->
