		<!-- div class="side_cont" -->
			<div class="ttl">
				<h3>カテゴリー</h3>
			</div>
			<ul class="side_nav nav">
				<li><a href="/category/お知らせ/" class="tap arrow">お知らせ</a></li>
				<li><a href="/category/pressrelease.html" class="tap arrow">プレスリリース</a></li>
				<li><a href="/category/life/" class="tap arrow">スタフェスライフ</a></li>
				<li><a href="/category/people/" class="tap arrow">ぴーぷる</a></li>
				<li><a href="/company/companymedia/" class="tap arrow">メディア紹介</a></li>
				<li><a href="/category/presskit" class="tap arrow">プレスキット</a></li>
			</ul>
		<!-- /div -->
