				<ul class="card_list people">
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people01.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">WEB制作／エンジニア</span>
						</span>
						<span class="card txt">先鋭技術絵をインプットできる、刺激的な現場が魅力！</span>
					</a></li>
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people02.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">コーポレート／人事</span>
						</span>
						<span class="card txt">クルーのみんなに月曜朝、ワクワク気分で目覚めてほしい！</span>
					</a></li>
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people03.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">ビジネス・サービス／営業</span>
						</span>
						<span class="card txt">「アオイ気持ち」そのままに、全力で走る！</span>
					</a></li>
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people04.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">WEB制作／エンジニア</span>
						</span>
						<span class="card txt">暮らしに密着したサービスを速くて堅牢な「システム基盤」で支えたい！</span>
					</a></li>
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people05.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">アルバイト／販売スタッフ</span>
						</span>
						<span class="card txt">「扶養枠」の中でできるやり甲斐のある仕事、仲間の幼稚園ママ友と子育ての情報交換も</span>
					</a></li>
					<li class="tap"><a href="/pressrelease/detail.html">
						<span class="card img"><img src="/common/images/sample/pic_people06.jpg" alt=""></span>
						<span class="list_head">
							<span class="card ctgr">アルバイト／コールセンター</span>
						</span>
						<span class="card txt">仲間からもらった真心をお客さまへ渡したい</span>
					</a></li>
