@charset 'UTF-8';

.top_kv_fix, .top_kv_fix_img{
	position:absolute;
	bottom:0;
	right:0;
}

ul.slide_top {
}
li.slick-slide{
	height:500px;
	width:500px;
}

li.slick-slide .slide_img{
}

li.slick-slide .slide_img img{
}


.slide_top1,
.slide_top2,
.slide_top3,
.slide_top4,
.slide_top5,
.slide_top6,
.slide_top7{
}
.top_kv .slick-slide{
	overflow:hidden;
}

.slide_img{
	position:relative;
	width:200%;
	height:100%;
	
	-webkit-animation:ani linear 10s infinite;
	animation:ani linear 10s infinite;
}

.slide_top1 .slide_img{
	background: url(../images/top/main-01.jpg);
}
.slide_top2 .slide_img{
	background: url(../images/top/main-02.jpg);
}
.slide_top3 .slide_img{
	background: url(../images/top/main-03.jpg);
}
.slide_top4 .slide_img{
	background: url(../images/top/main-04.jpg);
}
.slide_top5 .slide_img{
	background: url(../images/top/main-05.jpg);
}
.slide_top6 .slide_img{
	background: url(../images/top/main-06.jpg);
}
.slide_top7 .slide_img{
	background: url(../images/top/main-07.jpg);
}

.slide_top1 .slide_img,
.slide_top2 .slide_img,
.slide_top3 .slide_img,
.slide_top4 .slide_img,
.slide_top5 .slide_img,
.slide_top6 .slide_img,
.slide_top7 .slide_img{
	background-size: contain;
	background-position:left center;
	background-repeat:repeat-x;
}

@keyframes ani {
	0% { left:0; }
	100% { left:-50%;
	}
}












/* ===== TOP ===== */





/* service */
.top_service .service{
	padding-bottom:40px;
}
.top_service .sec_head{
	margin-bottom:20px;
}

.top_service_box .box1{
	background-image:url(../images/service/bg_service_01.png);
}
.top_service_box .box2{
	background-image:url(../images/service/bg_service_02.png);
}
.top_service_box .box3{
	background-image:url(../images/service/bg_service_03.png);
}
.top_service_box .box1,
.top_service_box .box2,
.top_service_box .box3{
	position:relative;
	padding:20px;
	background-position:center center;
	background-size: cover;
	text-align:center;
	color:#fff;
}
.top_service_box .box2, 
.top_service_box .box3{
	height:400px;
}

.top_service_box h3{
	margin-bottom:15px;
	font-size:2.0rem;
	font-weight:700;
}
.top_service_box img{
	max-height:70px;
	margin-bottom:20px;
}
.top_service_box .btn{
	width:100%;
	min-width:0;
	max-width:200px;
	font-size:1.4rem;
}
.top_service_box .btn.w23{
	max-width:230px;
}

.top_service_box .box1 .col3{
	max-width:790px;
	margin:30px auto 0;
	padding:30px 20px;
	border:1px solid #fff;
}
.top_service_box .box1 .col3 img{
	max-height:50px;
}

.top_service_box .box2 div{
	position:relative;
	top:94px;
}

@media screen and (min-width: 769px) {
	.top_service_box{
		clear:both;
		overflow:hidden;
	}
	.top_service_box .box1{
		height:500px;
	}
	.top_service_box .box2, 
	.top_service_box .box3{
		float:left;
		width:50%;
	}

	.top_service_box .box1 .col3 li{
		margin-bottom:0;
	}
	.top_service_box .box1 div{
		position:relative;
		top:42px;
	}
	.top_service_box .box3 div{
		position:relative;
		top:94px;
	}

	.top_service_box .box3 .col2 li{
		max-width:240px;
	}

}
@media screen and (max-width: 768px) {
	.top_service .sec_head{
		padding:0 20px;
	}
	.top_service .inner{
		padding:20px 0 40px;
	}
	.top_service_box .box1{
		height:730px;
	}

	.top_service_box .col2 li,
	.top_service_box .col3 li{
		margin-bottom:50px;
	}
	.top_service_box .col2 li:last-child,
	.top_service_box .col3 li:last-child{
		margin-bottom:0;
	}

	.top_service_box img{
		max-width:300px;
	}
	.top_service_box .btn{
		padding:.9em 1em;
	}

	.top_service_box .box1 div{
		position:relative;
		top:11px;
	}

	.top_service_box .box3{
		padding:20px 2px;
	}
	.top_service_box .box3 div{
		position:relative;
		top:26px;
	}
	.top_service_box .box3 li{
		margin-bottom:30px;
	}
	.top_service_box .box3 img{
		margin-bottom:10px;
	}
}
@media screen and (max-width: 414px) {
}

/* news */
.top_news .news{
	padding-bottom:50px;
}
.top_news .inner{
	padding-bottom:30px;
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
	.top_news .inner{
		padding-bottom:0;
	}
	.top_news .sec_head, .top.news .card_list{
		padding:0 30px;
	}

	.top_news .sec_links li{
		width:50%;
	}
}
@media screen and (max-width: 414px) {
}


/* company */
.top_company .inner{
	padding-bottom:30px;
}

.img_btnwrap.com1{
	background:url(../images/top/img_top_company01.png);
}
.img_btnwrap.com2{
	background:url(../images/top/img_top_company02.png);
}
.img_btnwrap.com3{
	background:url(../images/top/img_top_company03.png);
}

.top_company .txt_list{
	max-width:980px;
	margin:auto;
}
.top_company .txt_list li:last-child{
	margin-bottom:0;
}
.top_company .txt_list a,
.top_company .txt_list .txt,
.top_company .txt_list .list_head{
	padding:0;
}


.award .txt_list .list_head{
	line-height:1.5;
}


@media screen and (min-width: 769px) {
	.top_company .company{
		padding-bottom:50px;
	}
	.top_company .col3{
		margin-bottom:0;
	}
	.top_company .col3 li{
		height:300px;
		margin-bottom:0;
	}
	
	.company_news .inner{
		display:table;
		width:100%;
		padding-bottom:0;
	}
	.company_news .inner > div{
		position:relative;
		display:table-cell;
		width:50%;
		padding:0 40px 120px;
	}

	.company_news .btnwrap{
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:0;
	}

	/* award */
	.award .txt_list li{
		padding-left:6.5em
	}
	.award .txt_list .list_head{
		width:7.8em;
	}

	/* media */
	.media .txt_list li{
		padding-left:11em;
	}
}
@media screen and (max-width: 768px) {
	.top_company .inner{
		padding-bottom:0;
	}
	.top_company .col3 li{
		height:240px;
	}

	.top_company .txt_list li{
		font-size:1.6rem;
	}

	.company_news .sec_head{
	}

	.top_award .sec_head{
		padding-top:20px;
		margin-bottom:40px;
	}

	.top_media .sec_head{
		margin-bottom:40px;
	}
	.company_news .media .btnwrap{
		padding:50px 0 0;
	}
}
@media screen and (max-width: 414px) {
}



/* csr */


@media screen and (min-width: 769px) {
	.top_csr .col3{
		margin-bottom:0;
	}
	.top_csr .col3 li.stk1,
	.top_csr .col3 li.stk2,
	.top_csr .col3 li.stk3{
		margin-bottom:0;
	}
	.top_csr .img_btnwrap .btn{
		padding:.8em 1.6em;
	}
}
@media screen and (max-width: 768px) {
	.top_csr .inner{
		padding-bottom:50px;
	}

	.top_csr .col3 li:last-child{
		margin-bottom:0;
	}
}
@media screen and (max-width: 414px) {
}


/* recruit */
.top_recruit .sec_head{
	margin-bottom:0;
}

.recruit_links{
	position:relative;
	padding:20px;
	background:url(../images/top/img_top_recruit01.png) center center;
	background-size:cover;
}

@media screen and (min-width: 769px) {
	.top_recruit .recruit{
		padding-bottom:50px;
	}
	.recruit_links{
		height:400px;
	}
	.top_recruit .col3{
		position:relative;
		top:93px;
		max-width:814px;
		margin:auto;
		text-align:center;
	}
	.top_recruit .col3 .btn{
		width:100%;
		min-width:0;
		max-width:240px;
		padding:.6em 1em;
	}
	.top_recruit .col3 .btn.big{
		padding:2.2em 1em;
	}

}
@media screen and (max-width: 768px) {
	.top_recruit .recruit{
		padding-bottom:50px;
	}
	.recruit_links{
		height:580px;
	}
	.top_recruit li{
		margin-bottom:20px;
		text-align:center;
	}

	.top_recruit .col3{
		position:relative;
		top:19px;
	}
	.top_recruit .col3 .btn{
		padding:.6em 1em;
	}
	.top_recruit .col3 .btn.big{
		padding:2em 1em;
	}
}
@media screen and (max-width: 414px) {
}


/* contact */
.contact_link{
	height:300px;
	background:url(../images/top/img_top_contact01.png) center center;
	background-size:cover;
	color:#fff;
	text-align:center;
}
.contact_link h3{
	font-size:3.4rem;
	font-weight:200;
	letter-spacing:.2em;
}
.contact_link p{
	padding:1em;
}
.contact_link .btn{
	width:200px;
	font-size:2.0rem;
	font-weight:700;
	letter-spacing:.1em;
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}



/* ===== BUSINESS ===== */

.ctgr_top_ttl.startdelivery{
	background:url(../images/service/bg_service_01.png) center top;
}
.ctgr_top_ttl.gochikuru{
	background:url(../images/service/bg_gochikuru_01.png) center top;
}
.ctgr_top_ttl.chihousouseisupport{
	background:url(../images/csr/kv_chihousousei.png) center center no-repeat;
}
.ctgr_top_ttl.okawari{
	background:url(../images/service/bg_okawari_01.png) center top;
}
.ctgr_top_ttl.startdelivery,
.ctgr_top_ttl.gochikuru,
.ctgr_top_ttl.chihousouseisupport,
.ctgr_top_ttl.okawari{
	height:340px;
	padding:20px;
	color:#fff;
	background-size: cover;
}

.ctgr_top_ttl.startdelivery h1{
	background:url(../images/logo_startdelivary.png) center center no-repeat;
}
.ctgr_top_ttl.okawari h1{
	background:url(../images/logo_okawari.png) center center no-repeat;
}

.ctgr_top_ttl.startdelivery h1,
.ctgr_top_ttl.okawari h1{
	color:transparent;
}
.ctgr_top_ttl.startdelivery h1,
.ctgr_top_ttl.okawari h1{
	height:70px;
	background-size:contain;
}
.ctgr_top_ttl.okawari h1{
	height:100px;
}

.ctgr_top_ttl.gochikuru,
.ctgr_top_ttl.shashokuru{
	height:340px;
}
.ctgr_top_ttl.gochikuru h1,
.ctgr_top_ttl.shashokuru h1,
.ctgr_top_ttl.chihousouseisupport h1{
	display:none;
}


.top_ttl_img{
	position:absolute;
	left:0;
	width:100%;
	height:340px;
}
.top_ttl_img .slick-slide{
	position:relative;
	height:340px;
	overflow:hidden;
	border-bottom:1px solid #ddd;
	text-align:center;
}
.top_ttl_img .slick-slide img.fit{
	width:100%;
	height:340px;
}
.top_ttl_img h1{
	position:absolute;
	top:50%;
	left:50%;
	padding:20px;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	font-size:3.6rem;
	font-weight:200;
	line-height:1.2;
	letter-spacing:.06em;
	color:#fff;
}
.top_ttl_img.gochi h1,
.top_ttl_img.shashoku h1{
	width:90%;
	max-width:800px;
	background-color:rgba(255,255,255,0.9);
	
	font-size:2.0rem;
	font-weight:500;
	line-height:1.7;
	letter-spacing:.1em;
}

h3.sec_sub{
	font-weight:200;
	text-align:center;	
}


.intro{
	max-width:940px;
	margin:auto;
	font-weight:300;
	color:#666;
}
.intro.w800{
	max-width:860px;
}

.intro p{
	margin-bottom:1.5em;
}
.intro .btn{
	padding:.6em 2em .6em 1em;
	font-size:1.4rem;
	line-height:1.5;
}


.b_flow_wrap{
	position:relative;
}
.b_flow_wrap.brd{
	border:3px dashed #fcc70a;
	border-radius:5px;
}
.b_flow{
	position:relative;
	padding:30px 20px;
}
.b_flow::after{
	content:"";
	position:absolute;
	display:block;
	width:37px;
	height:30px;
	background:url(../images/service/icon_service_07.png);
	background-size:contain;
}
.b_flow.flow5::after{
	display:none;
}
.b_flow h3{
	margin-bottom:15px;
	padding-top:85px;
	font-size:2.0rem;
	font-weight:500;
	text-align:center;
}
.b_flow.flow1 h3{
	background-image:url(../images/service/icon_service_01.png);
}
.b_flow.flow2 h3{
	background-image:url(../images/service/icon_service_04.png);
}
.b_flow.flow3 h3{
	background-image:url(../images/service/icon_service_05.png);
}
.b_flow.flow4 h3{
	background-image:url(../images/service/icon_service_06.png);
}
.b_flow.flow5 h3{
	background-image:url(../images/service/icon_service_02.png);
}
.b_flow.flow1 h3,
.b_flow.flow2 h3,
.b_flow.flow3 h3,
.b_flow.flow4 h3,
.b_flow.flow5 h3{
	background-size:75px;
	background-position:center top;
	background-repeat:no-repeat;
}
.b_flow li{
	margin-bottom:10px;
	font-size:1.4rem;
	font-weight:300;
	line-height:1.4;
}
.b_flow li:last-child{
	margin-bottom:0;
}

.b_flow_memo{
	position:absolute;
	width:100%;
	text-align:center;
	font-size:1.5rem;
	font-weight:700;
	line-height:1.4;
}

.list_biz{
	margin:0 auto 20px;
}
.list_biz li{
	line-height:1.5;
}

.list_biz.col2{
	max-width:1120px;
}

.list_biz.col3{
	max-width:1160px;
}

.list_biz.col4{
	max-width:1160px;
}

.list_biz h3 {
	margin-bottom:10px;
	font-size:2.0rem;
	font-weight:500;
	text-align:center;
}
.list_biz h3.small {
	font-size:1.8rem;
}

.list_biz.lineup h3{
	position:relative;
	padding-bottom:80px;
	margin-bottom:20px;
	line-height:1.2;
}
.list_biz.lineup h3::before{
	content:"";
	position:absolute;
	top:12px;
	z-index:-1;
	display:block;
	width:100%;
	height:1px;
	background:#333;
}
.list_biz.lineup h3 span{
	display:inline-block;
	padding:0 .5em;
	background:#fff;
}

.list_biz.point li{
	padding-top:80px;
	background:url(../images/service/icon_service_10.png) center top no-repeat;
	background-size:50px;	
}

.list_biz.case .img{
	margin-bottom:15px;
}


.biz_imgr{
	max-width:1120px;
	margin:auto;
}
.biz_imgr p{
	font-size:1.8rem;
}
.biz_imgr img.logo{
	height:60px;
	margin-top:15px;
}
.biz_imgr .img a{
	display:block;
}
.biz_imgr.top p{
	font-weight:300;
	letter-spacing:.1em;
}

@media screen and (min-width: 769px) {
	.top_ttl_img{
		top:-396px;
	}
	.top_ttl_img.gochi h1,
	.top_ttl_img.shashoku h1{
		display:table;
	}
	.top_ttl_img.gochi h1 span,
	.top_ttl_img.shashoku h1 span{
		display: table-cell;
		height:100px;
		vertical-align:middle
	}

	.kv_logo{
		width:40%;
		text-align:center;
	}
	.kv_logo img{
		max-height:60px;
	}
	.kv_txt{
		width:65%;
	}


	h3.sec_sub{
		margin-bottom:70px;
		font-size:3.0rem;
	}

	.intro{
		padding:20px 30px;
		font-size:2.0rem;
	}	

	.support_image{
		display:table;
		width:100%;
		max-width:940px;
		margin:0 auto 50px;
		padding:0 30px;
	}
	.b_flow_wrap{
		display:table-cell;
		width:20%;
		vertical-align:top;
	}
	.b_flow_wrap.wide{
		width:60%;
	}

	.b_flow::after{
		top:32px;
		right:-20px;
		z-index:2;
	}
	.b_flow.flow1,
	.b_flow.flow2,
	.b_flow.flow3{
		float:left;
		width:33.3%;
	}

	.b_flow_memo{
		bottom:-65px;
	}


	.list_biz.col2 li{
		width:50%;
		margin:0 0 70px;
		padding:0 50px 30px;
	}

	.list_biz.col3 li{
		width:33.3%;
		margin:0 0 50px;
		padding:0 35px 30px;
	}

	.list_biz.col4 li{
		width:25%;
		margin:0 0 50px;
		padding:0 20px 30px;
	}

	.list_biz.point li{
		padding-top:80px;
	}


	.biz_imgr{
		display:table;
		width:100%;
		padding:0 30px;
		margin-bottom:50px;
	}
	.biz_imgr.top{
		padding:30px;
		margin-bottom:100px;
	}
	.biz_imgr div{
		display:table-cell;
		width:50%;
		vertical-align:middle;
	}
	.biz_imgr p{
		margin-bottom:50px;
	}
}
@media screen and (max-width: 768px) {
	.top_ttl_img{
		top:60px;
	}
	.top_ttl_img.chihousouseisupport h1{
		width:100%;
		font-size:2.5rem;
		letter-spacing:.1em;
		text-align:center;
	}

	.top_ttl_img h1 span{
		display:block;
	}
	.kv_logo{
		margin-bottom:15px;
		text-align:center;
	}
	.kv_logo img{
		height:50px;
	}


	h3.sec_sub{
		margin-bottom:30px;
		font-size:2.2rem;
	}

	.intro{
		padding:20px;
		font-size:1.7rem;
	}

	.support .intro{
		margin-bottom:30px;
	}
	
	.support_image{
		padding:0 20px;
	}

	.b_flow_wrap.brd{
		padding-top:10px;
	}
	.b_flow_wrap.wide{
		margin-bottom:70px;
	}
	
	.b_flow.flow1,
	.b_flow.flow2{
		margin-bottom:40px;
	}
	.b_flow.flow4{
		margin-bottom:120px;
	}

	.b_flow::after{
		left:50%;
		bottom:-35px;
		-webkit-transform:rotate(90deg) translateY(50%);
		transform:rotate(90deg) translateY(50%);
	}
	.b_flow.flow3::after{
		bottom:-70px;
	}

	.b_flow_memo{
		top:-25px;
		color:#fcc70a;
	}
	.b_flow_memo span{
		display:inline-block;
		padding:0 1em;
		background:#fff;
	}

	.list_biz.col2 li,
	.list_biz.col3 li{
		margin:0 0 50px;
		padding:0 20px 20px;
	}
	.list_biz.col4{
		clear:both;
		overflow:hidden;
	}
	.list_biz.col4 li{
		float:left;
		width:50%;
		margin:0 0 50px;
		padding:0 10px 20px;
	}

	.list_biz.point li{
		padding-top:80px;
	}


	.biz_imgr{
		margin-bottom:40px;
	}
	.biz_imgr.top{
		padding-top:20px;
	}
	.biz_imgr div{
		padding:20px;
	}
	.biz_imgr p{
		margin-bottom:30px;
	}
}
@media screen and (max-width: 414px) {
}



/* ----- 事業内容 TOP ----- */

.service_intro{
	margin-bottom:50px;
	border-bottom:1px solid #e5e5e5;
}

.v_ttl.support{
	background:url(../images/service/bg_service_01.png) center top;
	background-size: cover;
}
.v_ttl.share{
	background:url(../images/service/bg_service_02.png) center center;
	background-size: cover;
}
.v_ttl.promo{
	background:url(../images/service/bg_service_03.png) center center;
	background-size: cover;
}

.service_lineup > div{
	position:relative;
}
.service_lineup dt{
	margin-bottom:20px;
	font-size:2.0rem;
	font-weight:500;
	text-align:center;
}
.service_lineup dt .img{
	display:block;
}
.service_lineup dt img{
	max-width:250px;
	margin:auto;
}
.service_lineup dd{
	line-height:1.5;
	letter-spacing:.06em;
}
.service_lineup .btn{
	width:100%;
	padding:.6em 2em .6em 1em;
	font-size:1.4rem;
}

.support .service_lineup dt img{
	width:200px;
}


@media screen and (min-width: 769px) {
	.pj_top{
		margin-bottom:80px;
	}

	.pj_top .support_image{
		padding-bottom:80px;
	}

	.service_lineup{
		display:table;
		margin:60px auto 100px;
	}
	.service_lineup > div{
		display:table-cell;
		width:426px;
		padding: 0 40px 70px;
		vertical-align:top;
	}

	.service_lineup dt .txt{
		margin-bottom:50px;
	}
	.service_lineup .btn{
		max-width:70%;
		position:absolute;
		bottom:0;
		left:50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
	}

	.service_lineup .network{
		padding-bottom:0;
	}
	.service_lineup .network .btn{
		bottom:20px;
	}
	.service_lineup .network .btn:last-child{
		bottom:-40px;
	}
}
@media screen and (max-width: 768px) {
	.pj_top{
		margin-bottom:60px;
	}

	.pj_top img{
		display:block;
		margin-bottom:1em;
	}

	.pj_top .support_image{
		padding-top:20px;
	}

	.service_lineup{
		padding:30px 20px 0;
	}
	.service_lineup:last-child{
		padding-bottom:30px;
	}
	.service_lineup > div{
		margin-bottom:100px;
	}

	.service_lineup dt .txt{
		margin-bottom:25px;
	}
	.service_lineup .btn{
		display:block;
		max-width:280px;
		margin: 30px auto;
	}
}
@media screen and (max-width: 414px) {
}


/* スタートデリバリー */

.pj_sd_top .intro{
	max-width:800px;
}

.pj_sd_top .intro_caption{
	background:url(../images/service/bg_service_04.png) center center;
	background-size:cover;
	text-align:center;
}
.pj_sd_top .intro_caption div{
}

.service_summary .service_lineup dt .txt{
	display:inline-block;
	padding:0 1em;
	background:#fff;
}
.service_summary .service_lineup dt .txt::before{
	content:"";
	display:block;
	height:1px;
	position:absolute;
	top:1em;
	z-index:-1;
	background:#333;
}
.service_summary .service_lineup dt .img{
	height:60px;
}
.service_summary .service_lineup dt img{
	max-height:100%;
}
.service_summary .service_lineup dt img{
	max-height:100%;
}
.service_summary .service_lineup dt img.half{
	position:relative;
	top:6px;
	max-width:50%;
}


@media screen and (min-width: 769px) {
	.pj_sd_top{
		margin-bottom:100px;
	}

	.pj_sd_top .intro_caption{
		padding:60px 30px;
		letter-spacing:-.4em;
	}
	.pj_sd_top .intro_caption img{
		display:inline-block;
		letter-spacing:normal;
		vertical-align:middle;
	}
	.pj_sd_top .intro_caption .img1,
	.pj_sd_top .intro_caption .img3{
		width:42%;
		max-width:435px;
	}
	.pj_sd_top .intro_caption .img2{
		width:7%;
		margin:0 4%;
	}

	.service_summary .service_lineup dt .txt::before{
		width:70%;
		left:15%;
	}
}
@media screen and (max-width: 768px) {
	.pj_sd_top{
		margin-bottom:60px;
	}

	.pj_sd_top .intro_caption{
		padding:30px 20px;
	}
	.pj_sd_top .intro_caption .img1,
	.pj_sd_top .intro_caption .img3{
		width:100%;
		max-width:435px;
		margin:auto;
	}
	.pj_sd_top .intro_caption .img2{
		width:12%;
		margin:4% auto;
		-webkit-transform:rotate(90deg);
		transform:rotate(90deg);
	}

	.service_summary .service_lineup dt .txt::before{
		width:100%;
		left:0;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- ごちクル ----- */

.top_ttl_img.gochi h1{
	padding:0;
}

.biz_imgr.gochi{
	background: url(../images/service/img_gochikuru_01.png) no-repeat;
}


.list_biz.gochikuru_reason h3.reason1{
	background:url(../images/service/icon_service_01.png);
}
.list_biz.gochikuru_reason h3.reason2{
	background:url(../images/service/icon_service_08.png);
}
.list_biz.gochikuru_reason h3.reason3{
	background:url(../images/service/icon_service_02.png);
}
.list_biz.gochikuru_reason h3.reason4{
	background:url(../images/service/icon_service_03.png);
}
.list_biz.gochikuru_reason h3.reason5{
	background:url(../images/service/icon_service_04.png);
}
.list_biz.gochikuru_reason h3.reason6{
	background:url(../images/service/icon_service_25.png);
}
.list_biz.gochikuru_reason h3.reason1,
.list_biz.gochikuru_reason h3.reason2,
.list_biz.gochikuru_reason h3.reason3,
.list_biz.gochikuru_reason h3.reason4,
.list_biz.gochikuru_reason h3.reason5,
.list_biz.gochikuru_reason h3.reason6{
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:75px;
}
.list_biz.gochikuru_reason h3.reason2{
	background-size:105px;
}


.gochi_scene{
	margin-bottom:50px;
	text-align:center;
}
.gochi_scene li{
	position:relative;
	display:inline-block;
	width:140px;
	height:140px;
	margin:0 10px 20px;
	border:3px solid #fcc709;
	border-radius:50%;
	vertical-align:middle;
}
.gochi_scene li span{
	display:block;
	font-size:2.0rem;
}

.gochi_scene_ttl{
	font-size:2.0rem;
	font-weight:400;
	text-align:center;
	margin-bottom:20px;
}

.gochi_model .intro{
	max-width:860px;
}


.gochi_merit_boxwrap.cont_inner{
	max-width:1120px;
}


.gochi_merit_box h3{
	margin-bottom:30px;
	font-weight:400;
	text-align:center;
}


.gochi_merit_movie{
	position:relative;
	height:270px;
	margin-bottom:20px;
	background: url(../images/service/bg_service_05.png) center center no-repeat;
	background-size:cover;
}
.gochi_video_btn{
	position:relative;
	display:block;
	height:270px;
}
.gochi_merit_movie .btn{
	width:180px;
}

.gochi_merit_movie .modal_inner{
	position:relative;
	z-index:102;
	width:100%;
	max-width:800px;
	margin:auto;
}

.gochi_video_close{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-1;
}
.gochi_video_close .close{
	position:absolute;
	font-size:3.0rem;
	font-weight:200;
	color:#fff;
}


.gochi_merit_list{
	position:relative;
	height:270px;
	margin-bottom:20px;
	border:3px solid #fcc709;
}
.gochi_merit_list .middle{
	position:absolute;
	width:100%;
	padding:20px;
}
.gochi_merit_list li{
	position:relative;
	margin:0 0 40px 40px;
	font-size:1.8rem;
	font-weight:500;
	line-height:1.4;
}
.gochi_merit_list li:last-child{
	margin-bottom:0;
}
.gochi_merit_list li::before,
.gochi_merit_list li::after{
	content:"";
	display:block;
	position:absolute; 
	background:#666;
}
.gochi_merit_list li::before{
	top:14px;
	left:-30px;
	width:8px;
	height:4px;
	-webkit-transform:rotate(35deg);
	transform:rotate(35deg);
}
.gochi_merit_list li::after{
	top:11px;
	left:-27px;
	width:20px;
	height:4px;
	-webkit-transform:rotate(-50deg);
	transform:rotate(-50deg);
}
.gochi_merit_list .marker{
	background: linear-gradient(transparent 60%, #fef4ce 20%);
}

.gochi_merit_box .btn.arrow{
	width:300px;
	height:65px;
	font-size:1.7rem;
	font-weight:500;
	line-height:1.2;
}
.gochi_merit_box .btn span{
	display:block;
}

.gochikuru_future .sec_head{
	margin-bottom:0;
}
.gochikuru_future .intro{
	max-width:860px;
}
.gochikuru_future_msg{
	background:url(../images/service/bg_service_01.png) center bottom no-repeat;
	background-size:cover;
}
.gochikuru_future_msg p{
	font-size:1.8rem;
	font-weight:500;
	line-height:2.2;
	color:#fff;
}


@media screen and (min-width: 769px) {
	.top_ttl_img.gochi h1{
		display:block;
	}
	.top_ttl_img.gochi h1 a{
		display:table;
		width:100%;
		padding:20px;
	}

	.gochi_scene_ex{
		margin-bottom:120px;
	}
	
	
	.gochi_model .support_image{
		margin-bottom:120px;
	}

	
	.gochi_merit_boxwrap{
		display:table;
		width:100%;
		max-width:1060px;
		margin-bottom:120px;
	}
	.gochi_merit_box{
		position:relative;
		display:table-cell;
		width:50%;
		padding-bottom:90px;
		vertical-align:top;
	}
	.gochi_merit_box.box2{
		padding-left:35px;
	}
	.gochi_merit_box.box1{
		padding-right:35px;
	}

	.gochi_merit_box h3{
		font-size:2.6rem;
	}

	.gochi_merit_box .btn.arrow{
		position:absolute;
		bottom:0;
		left:50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.gochi_merit_box.box1 .btn.arrow{
		margin-left:-17px;
	}
	.gochi_merit_box.box2 .btn.arrow{
		margin-left:17px;
	}

	.gochi_video_close .close{
		top:20px;
		right:50px;
	}

	.gochikuru_future_msg{
		margin-bottom:100px;
	}
	.gochikuru_future_msg p{
		margin-bottom:30px;
	}

	.gochikuru_site p{
		width:50%;
	}
	.gochikuru_site .btnwrap{
		width:50%;
	}

	.gochi.sns{
		margin-bottom:100px;
		padding:0 30px
	}
}
@media screen and (max-width: 768px) {
	.top_ttl_img.gochi h1 a{
		display:block;
		padding:20px;
	}

	.col3.gochikuru_reason li{
		margin-bottom:60px;
	}

	.gochi_model .support_image{
		margin-bottom:60px;
	}

	
	.gochi_model .b_flow.flow4{
		margin-bottom:60px;
	}


	.gochi_scene_ex{
		margin-bottom:60px;
	}


	.gochi_merit_boxwrap{
		margin-bottom:80px;
	}
	.gochi_merit_box{
		margin-bottom:60px;
	}
	.gochi_merit_box h3{
		font-size:2.0rem;
	}
	.gochi_merit_box p{
		margin-bottom:20px;
	}

	.gochi_video_close .close{
		top:15px;
		right:18px;
	}

	.gochikuru_future_msg{
		margin-bottom:50px;
	}

	.gochikuru_site .sns{
		margin-bottom:50px;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- シャショクル ----- */

.top_ttl_img.shashoku h1{
	padding:0;
	font-size:1.8rem;
}

.biz_imgr.shashoku{
	background: url(../images/service/img_shashokuru_01.png) no-repeat;
}

.list_biz.shashoku_merit h3.merit1{
	background:url(../images/service/icon_service_11.png);
}
.list_biz.shashoku_merit h3.merit2{
	background:url(../images/service/icon_service_12.png);
}
.list_biz.shashoku_merit h3.merit3{
	background:url(../images/service/icon_service_13.png);
}
.list_biz.shashoku_merit h3.merit4{
	background:url(../images/service/icon_service_14.png);
}
.list_biz.shashoku_merit h3.merit5{
	background:url(../images/service/icon_service_04.png);
}
.list_biz.shashoku_merit h3.merit6{
	background:url(../images/service/icon_service_15.png);
}
.list_biz.shashoku_merit h3.merit1,
.list_biz.shashoku_merit h3.merit2,
.list_biz.shashoku_merit h3.merit3,
.list_biz.shashoku_merit h3.merit4,
.list_biz.shashoku_merit h3.merit5,
.list_biz.shashoku_merit h3.merit6{
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:75px;
}


.syashoku_case_collection{
	max-width:1020px;
	margin:auto;
	letter-spacing:-.4em;
}
.syashoku_case_collection li{
	display:inline-block;
	letter-spacing:normal;
	vertical-align: middle;
	text-align:center;
}
.syashoku_case_collection img{
	width:150px;
}

.syashoku_case_collection .memo{
	letter-spacing:normal;
	text-align:right;
	font-size:1.2rem;
}

.syashoku_flow.list_biz.col3 li{
	position:relative;
	padding-top:160px;
}
.syashoku_flow li::after{
	content:"";
	position:absolute;
	display:block;
	width:80px;
	height:59px;
	background:url(../images/service/img_service_03_4.png);
	background-size:contain;
}
.syashoku_flow li:last-child::after{
	display:none;
}

.syashoku_flow .flow1{
	background-image:url(../images/service/img_shashokuru_02.png);
}
.syashoku_flow .flow2{
	background-image:url(../images/service/img_shashokuru_03.png);
}
.syashoku_flow .flow3{
	background-image:url(../images/service/img_shashokuru_04.png);
}
.syashoku_flow .flow1,
.syashoku_flow .flow2,
.syashoku_flow .flow3{
	background-position:center top;
	background-repeat:no-repeat;
	background-size:136px;
}


.list_biz.lineup.syashoku_plan h3{
	position:relative;
	padding-bottom:160px;
}
.list_biz.lineup.syashoku_plan h3::after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-65px;
	display:block;
	width:130px;
	height:130px;
	border:3px solid #fcc70a;
	border-radius:50%;
}
.syashoku_plan h3.plan1::after{
	background:url(../images/service/icon_service_02.png) center center no-repeat;
	background-size:90px;
}
.syashoku_plan h3.plan2::after{
	background:url(../images/service/icon_service_16.png) center center no-repeat;
	background-size:70px;
}


.shashoku_p_merit .btn{
	width:300px;
}


@media screen and (min-width: 769px) {
	.top_ttl_img.shashoku h1{
		display:block;
	}
	.top_ttl_img.shashoku h1 a{
		display:table;
		width:100%;
		padding:20px;
	}

	.syashoku_case_collection{
		margin-bottom:100px;
		padding:0 20px;
	}
	.syashoku_case_collection li{
		width:16.6%;
		margin-bottom:50px;
	}


	.shashoku_merit{
		margin-bottom:100px;
	}


	.syashoku_plan{
	}

	.syashoku_flow{
		margin-bottom:50px;
	}
	.syashoku_flow li::after{
		top:50px;
		right:-30px;
		width:80px;
		height:59px;
	}


	.shashoku_model .sec_head{
		margin-bottom:30px;
	}
	.shashoku_model .support_image{
		margin-bottom:100px;
	}

	
	.inner.syashoku_plan{
		margin-bottom:100px;
	}
	.list_biz.lineup.syashoku_plan{
		margin-bottom:0;
	}
	.list_biz.lineup.syashoku_plan li{
		margin-bottom:0;
	}

	.shashoku.sns{
		margin-bottom:100px;
		padding:0 30px
	}
}
@media screen and (max-width: 768px) {
	.top_ttl_img.shashoku h1 a{
		display:block;
		padding:20px;
	}

	.syashoku_case_collection{
		margin-bottom:50px;
		padding:0 10px;
	}
	.syashoku_case_collection li{
		width:33.3%;
		margin-bottom:30px;
	}

	.list_biz.col3.syashoku_flow li{
		margin-bottom:80px;
	}
	.syashoku_flow li::after{
		bottom:-60px;
		left:50%;
		width:80px;
		height:59px;
		margin-left:-43px;
		-webkit-transform:rotate(90deg);
		transform:rotate(90deg);
	}
}
@media screen and (max-width: 414px) {
}


/* ----- おかワリ ----- */

.list_biz.col4.okawari li{
	padding-top:130px;
	text-align:center;
}

.list_biz.okawari .okawari1{
	background:url(../images/service/icon_service_17.png);
}
.list_biz.okawari .okawari2{
	background:url(../images/service/icon_service_18.png);
}
.list_biz.okawari .okawari3{
	background:url(../images/service/icon_service_19.png);
}
.list_biz.okawari .okawari4{
	background:url(../images/service/icon_service_20.png);
}
.list_biz.okawari .okawari5{
	background:url(../images/service/icon_service_21.png);
}
.list_biz.okawari .okawari6{
	background:url(../images/service/icon_service_22.png);
}
.list_biz.okawari .okawari7{
	background:url(../images/service/icon_service_23.png);
}
.list_biz.okawari .okawari8{
	background:url(../images/service/icon_service_24.png);
}
.list_biz.okawari .okawari1,
.list_biz.okawari .okawari2,
.list_biz.okawari .okawari3,
.list_biz.okawari .okawari4,
.list_biz.okawari .okawari5,
.list_biz.okawari .okawari6,
.list_biz.okawari .okawari7,
.list_biz.okawari .okawari8{
	background-position:center top;
	background-repeat:no-repeat;
	background-size:150px;
}


.okawari_merit{
	max-width:1120px;
}
.okawari_merit h3{
	text-align:center;
	font-size:2.6rem;
	font-weight:400;
}
.okawari_merit p{
}


@media screen and (min-width: 769px) {
	.intro.okawari{
		margin-bottom:50px;
	}

	.list_biz.col4.okawari{
		margin-bottom:80px;
	}

	.okawari_merit{
		display:table;
		width:100%;
		margin-bottom:150px;
	}
	.okawari_merit > div{
		position:relative;
		display:table-cell;
		width:50%;
		padding-bottom:100px;
	}
	.okawari_merit .box1{
		padding-right:50px;
	}
	.okawari_merit .box2{
		padding-left:50px;
	}

	.okawari_merit h3{
		margin-bottom:40px;
	}
	.okawari_merit .btnwrap{
		position:absolute;
		left:0;
		bottom:-50px;
		width:100%;
	}
	.okawari_merit .box1 .btnwrap{
		padding-right:50px;
	}
	.okawari_merit .box2 .btnwrap{
		padding-left:50px;
	}
	.okawari_merit .btn{
		width:280px;
	}
}
@media screen and (max-width: 768px) {
	.okawari_merit h3{
		margin-bottom:30px;
	}
	.okawari_merit .btnwrap{
		padding: 30px 0 60px;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- 地方創生サポート ----- */

.list_biz.chihou_sec1 h3.service1{
	background:url(../images/service/icon_service_01.png);
}
.list_biz.chihou_sec1 h3.service2{
	background:url(../images/service/icon_service_04.png);
}
.list_biz.chihou_sec1 h3.service3{
	background:url(../images/service/icon_service_09.png);
}
.list_biz.chihou_sec1 h3.service4{
	background:url(../images/service/icon_service_02.png);
}
.list_biz.chihou_sec1 h3.service1,
.list_biz.chihou_sec1 h3.service2,
.list_biz.chihou_sec1 h3.service3,
.list_biz.chihou_sec1 h3.service4{
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:75px;
}


.chihou_sec1_imgs > div{
	position:relative;
	text-align:center;
}
.chihou_sec1_imgs .img2::before,
.chihou_sec1_imgs .img2::after{
	content:"";
	position:absolute;
	display:block;
	width:50px;
	height:37px;
	background:url(../images/service/img_service_03_4.png);
	background-size:cover;
}

.chihou_sec1_imgs .img2 .logo{
	margin-bottom:20px;
}


@media screen and (min-width: 769px) {
	.chihou_sec1_imgs{
		display:table;
		width:100%;
		max-width:940px;
		margin:0 auto 100px;
		padding:0 30px;
	}
	.chihou_sec1_imgs > div{
		display:table-cell;
		vertical-align:bottom;
	}
	.chihou_sec1_imgs .img1{
		width:20%;
		padding:0 0 40px;
	}
	.chihou_sec1_imgs .img2{
		width:60%;
		padding:0 60px 40px;
	}
	.chihou_sec1_imgs .img3{
		width:20%;
		padding:0 0 40px;
	}

	.chihou_sec1_imgs .img2::before,
	.chihou_sec1_imgs .img2::after{
		top:55%;
	}
	.chihou_sec1_imgs .img2::before{
		left:5px;
	}
	.chihou_sec1_imgs .img2::after{
		right:5px;
	}
	.chihou_sec1_imgs .img2 p{
		position:absolute;
		left:0;
		bottom:5px;
		width:100%;
	}
}
@media screen and (max-width: 768px) {
	.chihou_sec1_imgs{
		margin:0 auto 100px;
		padding:0 20px;
	}

	.chihou_sec1_imgs .img1 img{
		width:66%;
	}
	.chihou_sec1_imgs .img2{
		padding:60px 0;
	}
	.chihou_sec1_imgs .img3 img{
		width:66%;
	}
	.chihou_sec1_imgs .img2::before,
	.chihou_sec1_imgs .img2::after{
		left:50%;
		-webkit-transform:rotate(90deg) translateY(50%);
		transform:rotate(90deg) translateY(50%);
	}
	.chihou_sec1_imgs .img2::before{
		top:10px;
	}
	.chihou_sec1_imgs .img2::after{
		bottom:10px;
	}

}
@media screen and (max-width: 414px) {
}



/* ===== 新着情報 ===== */


@media screen and (min-width: 769px) {
	.ctgr.page_ttl{
		margin-bottom:6px;
	}
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}



/* ===== COMPANY ===== */

.com_ttl{
	margin-bottom:30px;
	font-size:2.6rem;
	font-weight:400;
	text-align:center;
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ----- 会社概要 ----- */

.com.inner{
	clear:both;
	overflow:hidden;
	max-width:950px;
}

.tbl.com_about{
	width:100%;
}
.tbl.com_about th, .tbl.com_about td{
	padding:10px;
	vertical-align:top;
	text-align:left;
	line-height:1.8;
}
.tbl.com_about th{
	font-weight:500;
}
.tbl.com_about td{
}
.tbl.com_about .title span{
	display:inline-block;
}
.tbl.com_about .title span.position{
	width:8em;
}

@media screen and (min-width: 769px) {
	.tbl.com_about{
		float:left;
	}
	.tbl.com_about.basic{
		width:42%;
	}
	.tbl.com_about.office{
		width:54%;
		margin-left:4%;
	}
	.tbl.com_about.basic th{
		width:90px;
	}
	.tbl.com_about.office th{
		width:100px;
	}
}
@media screen and (max-width: 768px) {
	.tbl.com_about th{
		width:80px;
		padding-left:0;
	}
	.tbl.com_about td{
		padding-right:0;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- 企業理念 ----- */

.philosophy.inner{
	max-width:520px;
}

.tanabata{
	position:relative;
	border:3px solid #f6f6f6;
}
.tanabata::after{
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	right:0;

	background:url(../images/company/img_com_01.jpg) center center no-repeat;
	background-size:cover;
}
.tanabata h3{
	margin-bottom:10px;
	font-size:1.8rem;
	font-weight:400;
}
.tanabata p{
	font-size:1.4rem;
	line-height:2;
}

@media screen and (min-width: 769px) {
	.img_phi1, .img_phi2{
		margin-bottom:20px;
	}
	.img_phi3{
		margin-bottom:80px;
	}
	.img_phi3:last-child{
		margin-bottom:0;
	}
		
	.tanabata{
		margin-bottom:80px;
		padding:30px 300px 30px 20px;
	}
	.tanabata::after{
		width:280px;
		top:0;

	}
}
@media screen and (max-width: 768px) {
	.img_phi1, .img_phi2{
		margin-bottom:10px;
	}
	.img_phi3{
		margin-bottom:40px;
	}
	.img_phi3:last-child{
		margin-bottom:0;
	}
	
	.tanabata{
		margin-bottom:50px;
		padding:30px 20px 230px 20px;
	}
	.tanabata::after{
		width:100%;
		height:200px;
		left:0;
	}
}
@media screen and (max-width: 414px) {
}

/* ----- 経営陣紹介 ----- */

.officer dt{
	margin-bottom:20px;
	font-size:2.2rem;
	line-height:1.5;
	font-weight:700;
}
.officer dt span{
	display:block;
	font-size:1.4rem;
	font-weight:400;
}
.officer dd{
	line-height:2.1;
}

@media screen and (min-width: 769px) {
	.officer dd{
		margin-bottom:80px;
	}
}
@media screen and (max-width: 768px) {
	.officer dd{
		margin-bottom:40px;
	}

}
@media screen and (max-width: 414px) {
}

/* ----- 会社沿革 ----- */

.his_nav{
}
.his_nav li{
	position:relative;
	display:inline-block;
	margin:0 10px 10px 0;
}
.his_nav li::after{
	content:"|";
	margin-left:10px;
}
.his_nav li:last-child::after{
	content:"";
}
.his_nav a{
	color:#d87500;
}

.history dt,
.history dd{
	line-height:2.1
}
.history dd{
	margin-bottom:2.1em;
}

@media screen and (min-width: 769px) {
	.history.inner{
		padding:30px;
	}
	.history dl{
		position:relative;
		margin-bottom:40px;
	}
	.history dt{
		position:absolute;
		left:0;
	}
	.history dd{
		padding-left:7em;
	}
}
@media screen and (max-width: 768px) {
	.history.inner{
		padding:20px;
	}
	.history dl{
		margin-bottom:50px;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- 制度案内 ----- */

.com_ttl.sys1{
	background: url(../images/company/icon_system_01.png);
}
.com_ttl.sys2{
	background: url(../images/company/icon_system_02.png);
}
.com_ttl.sys3{
	background: url(../images/company/icon_system_03.png);
}
.com_ttl.sys4{
	background: url(../images/company/icon_system_04.png);
}
.com_ttl.sys5{
	background: url(../images/company/icon_system_05.png);
}
.com_ttl.sys6{
	background: url(../images/company/icon_system_06.png);
}
.com_ttl.sys7{
	background: url(../images/company/icon_system_07.png);
}
.com_ttl.sys1,
.com_ttl.sys2,
.com_ttl.sys3,
.com_ttl.sys4,
.com_ttl.sys5,
.com_ttl.sys6,
.com_ttl.sys7{
	padding-top:80px;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:55px;
}

@media screen and (min-width: 769px) {
	.system p{
		margin-bottom:80px;
	}
}
@media screen and (max-width: 768px) {
	.system p{
		margin-bottom:40px;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- CMライブラリ ----- */

.cm_dsc{
	font-size:1.8rem;
	text-align:center;
}

.video{
	position:relative;
	padding-top:62.5%;
	margin-bottom:20px;
}
.video.wide{
	padding-top:56.2%;
}
.video iframe{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

@media screen and (min-width: 769px) {
	.cm_dsc{
		margin-bottom:80px;
		font-size:1.8rem;
	}
}
@media screen and (max-width: 768px) {
	.cm_dsc{
		margin-bottom:40px;
		font-size:1.6rem;
	}
}
@media screen and (max-width: 414px) {
}

/* ----- アクセス ----- */

.gmap{
	margin-bottom:10px;
}

.map_print{
	margin-bottom:10px;
	text-align:right;
}
.map_print a{
	font-weight:500;
	color:#d87500;
}

.access_info{
	position:relative;
}
.access_info dt, .access_info dd{
	line-height:1.5;
}
.access_info dt{
	font-weight:500;
}
.access_info dd{
}
.access_info .ibl{
	display:inline-block;
	margin-right:1em;
}

@media screen and (min-width: 769px) {
	.access.inner{
		padding:50px;
	}
	.gmap{
		height:500px;
	}

	.access_info dt, .access_info dd{
		margin-bottom:.5em;
	}
	.access_info dt{
		position:absolute;
		left:0;
	}
	.access_info dd{
		padding-left:6em;
	}
}
@media screen and (max-width: 768px) {
	.access.inner{
		padding:20px;
	}
	.gmap{
		height:300px;
	}

	.access_info dt{
	}
	.access_info dd{
		margin-bottom:1em;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- 個人情報保護方針 ----- */

.com_privacy{
	line-height:1.8;
}
.com_privacy h3{
	margin:2.7em 0 .5em;
}

.com_privacy ol{
	list-style:outside none;
}
.com_privacy ol li{
	position:relative;
}

.com_privacy ol.p_lv1 > li{
	padding-left:2em;
  counter-increment: cnt;
}
.com_privacy ol.p_lv1 > li:before{
  display: marker;
  content: "(" counter(cnt) ") ";
	position: absolute;
	left:0;
}

.com_privacy ol.p_lv2{
}
.com_privacy ol.p_lv2 li{
	margin-left:1em;
	list-style:lower-alpha;	
}



@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ----- プレスキット ----- */

.presskit_dsc{
	font-size:1.8rem;
}

.dl_list{
}
.dl_list > div{
}
.dl_list dt{
	text-align:center;
	font-size:1.8rem;
}
.dl_list dd{
	line-height:1.8;
}

.dl_list dt .logo{
	max-width:220px;
}
.dl_list h3{
	font-size:1.8rem;
	font-weight:500;
}
.dl_list .btn{
	margin-top:20px;
}

.presskit_icon{
	display:inline-block;
	padding:15px 0 15px 45px;
	background: url(../images/company/icon_presskit_01.png) left center no-repeat;
	background-size:36px;
}

@media screen and (min-width: 769px) {
	.presskit_dsc{
		margin-bottom:60px;
	}

	.dl_list{
		display:table;
		width:100%;
		margin-bottom:100px;
	}
	.dl_list > div{
		display:table-row;
	}
	.dl_list dt, 	.dl_list dd{
		display:table-cell;
		width:50%;
		border-top:1px solid #ddd;
		vertical-align:middle;
	}
	.dl_list div:last-child dt, .dl_list  div:last-child dd{
		border-bottom:1px solid #ddd;
	}
	.dl_list dt{
		padding:0;
	}
	.dl_list dd{
		padding:35px 40px;
	}
}
@media screen and (max-width: 768px) {
	.presskit_dsc{
		margin-bottom:40px;
	}

	.dl_list{
		margin-bottom:50px;
	}
	.dl_list > div{
		border-top:1px solid #ddd;
	}
	.dl_list > div:last-child{
		border-bottom:1px solid #ddd;
	}
	.dl_list dt{
		padding:40px 0;
	}
	.dl_list dd{
		padding-bottom:40px;
	}
}
@media screen and (max-width: 414px) {
}



/* ===== CSR ===== */

.img_btnwrap.scl1{
	background:url(../images/csr/img_csr_01.png);
}
.img_btnwrap.scl2{
	background:url(../images/csr/img_csr_02.png);
}
.img_btnwrap.scl3{
	background:url(../images/csr/img_csr_03.png);
}
.img_btnwrap.stk1{
	background:url(../images/csr/img_csr_04.png);
}
.img_btnwrap.stk2{
	background:url(../images/csr/img_csr_05.png);
}
.img_btnwrap.stk3{
	background:url(../images/csr/img_csr_06.png);
}

.ctgr_csr .col3 .img_btnwrap.stk2 .btn{
	max-width:none;
	padding:.8em .5em;
}


.ctgr_top_ttl.forcustomers{
	background:url(../images/csr/kv_forcustomers.png) center center no-repeat;
}
.ctgr_top_ttl.forpartners{
	background:url(../images/csr/kv_forpartners.png) center center no-repeat;
}
.ctgr_top_ttl.foremployees{
	background:url(../images/csr/kv_foremployees.png) center center no-repeat;
}
.ctgr_top_ttl.chihousousei{
	background:url(../images/csr/kv_chihousousei.png) center center no-repeat;
}
.ctgr_top_ttl.sinsaisien{
	background:url(../images/csr/kv_saigaishien.png) right center no-repeat;
}
.ctgr_top_ttl.other{
	background:url(../images/csr/kv_other.png) right center no-repeat;
}
.ctgr_top_ttl.forcustomers,
.ctgr_top_ttl.forpartners,
.ctgr_top_ttl.foremployees,
.ctgr_top_ttl.chihousousei,
.ctgr_top_ttl.sinsaisien,
.ctgr_top_ttl.other{
	height:340px;
	color:#fff;
	background-size:cover;
}

.img_csr{
	display:block;
	width:100%;
	padding-top:62.5%;
	margin-bottom:20px;
	background-position:center center;
	background-size:cover !important;
}
.img_csr.customer1{
	background-image:url(../images/csr/img_csr_07.png);
}
.img_csr.customer2{
	background-image:url(../images/csr/img_csr_08.png);
}
.img_csr.chihousousei1{
	background-image:url(../images/csr/img_csr_09.png);
}
.img_csr.chihousousei2{
	background-image:url(../images/csr/img_csr_10.png);
}
.img_csr.chihousousei3{
	background-image:url(../images/csr/img_csr_11.png);
}
.img_csr.chihousousei4{
	background-image:url(../images/csr/img_csr_12.png);
}
.img_csr.shinsai1{
	background-image:url(../images/csr/img_csr_13.png);
}
.img_csr.shinsai2{
	background-image:url(../images/csr/img_csr_14.png);
}
.img_csr.shinsai3{
	background-image:url(../images/csr/img_csr_15.png);
}
.img_csr.shinsai4{
	background-image:url(../images/csr/img_csr_16.png);
}
.img_csr.shinsai5{
	background-image:url(../images/csr/img_csr_17.png);
}
.img_csr.shinsai6{
	background-image:url(../images/csr/img_csr_18.png);
}
.img_csr.pertner1{
	background-image:url(../images/csr/img_csr_19.png);
}
.img_csr.pertner2{
	background-image:url(../images/csr/img_csr_20.png);
}
.img_csr.other1{
	background-image:url(../images/csr/img_csr_21.png);
}
.img_csr.other2{
	background-image:url(../images/csr/img_csr_22.png);
}
.img_csr.other3{
	background-image:url(../images/csr/img_csr_23.png);
}
.img_csr.employee1{
	background-image:url(../images/csr/img_csr_24.png);
}
.img_csr.employee2{
	background-image:url(../images/csr/img_csr_25.png);
}
.img_csr.employee3{
	background-image:url(../images/csr/img_csr_26.png);
}

.ctgr_csr .inner{
	max-width:1116px;
}

.csr_top .sec_ttl,
.ctgr_csr .sec_ttl{
	font-weight:400;
}

.ctgr_csr .col2 h2{
	font-size:2.0rem;
	font-weight:500;
	text-align:center;
}
.ctgr_csr .col2 .txt{
	display:block;
}

.ctgr_society, .ctgr_stakeholders{
	text-align:center;
}
.ctgr_society .inner{
	padding-top:0;
	padding-bottom:0;
}
.ctgr_society .sec_ttl, .ctgr_stakeholders .sec_ttl{
	margin-bottom:50px;
	font-weight:200;
}
.ctgr_society .btn, .ctgr_stakeholders .btn{
	padding:23px 1em;
	font-size:1.7rem;
	font-weight:500;
}

.ctgr_csr .col3 .btn{
	max-width:310px;
}

.ctgr_csr.shinsai2 .inner{
	padding-top:0;
	padding-bottom:0;
}

@media screen and (min-width: 769px) {
	.csr_top .sec_ttl,
	.ctgr_csr .sec_ttl{
		font-size:3.0rem;
	}

	.csr_top{
		margin-top:-90px;
		padding-top:90px;
	}
	.csr_top .inner{
		max-width:1360px;
		padding-top:15px;
	}
	.csr_top .col3{
		margin-bottom:0;
	}

	.ctgr_csr .inner{
		padding-top:45px;
	}
	.ctgr_csr .col2{
		clear:both;
		overflow:hidden;
		margin-bottom:0;
	}
	.ctgr_csr .col2 li{
		max-width:480px;
		margin-bottom:100px;
	}
	.ctgr_csr .col2 li:nth-child(2n){
		float:right;
	}
	.ctgr_csr .col2 li:last-child,
	.ctgr_csr .col2 li:nth-last-child(2){
		margin-bottom:50px;
	}

	.ctgr_csr .col2 h2{
		margin:40px 0;
	}
	.ctgr_csr .col2 .txt{
		min-height:100px;
	}
		
}
@media screen and (max-width: 768px) {
	.ctgr_csr .col2 li{
		margin-bottom:60px;
	}

	.ctgr_csr .col2 h2{
		margin:30px 0;
	}
}
@media screen and (max-width: 414px) {
}



/* ===== RECRUIT ===== */

.ctgr_top_ttl.message{
	height:340px;
	color:#fff;
	background-size:cover !important;
}
.ctgr_top_ttl.message{
	color:transparent;
}

.job_card{
	position:relative;
	border:4px solid #ffc90a;
}

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ----- 採用メッセージ ----- */

.kv_message{
	max-height:340px;
	padding-top:24.28%;
	background:url(../images/recruit/img_kv_message.png) center center no-repeat;
	background-size:cover;
}

.recruit_message,
.recruit_info,
.recruit_people,
.recruit_blog{
	border-bottom:1px solid #ddd;
}

.recruit_message .sec_head,
.recruit_info .sec_head,
.recruit_people .sec_head,
.recruit_blog .sec_head,
.recruit_faq .sec_head{
	margin-bottom:30px;
}

.recruit_message .intro{
	max-width:750px;
	padding-left:0;
	padding-right:0;
}

.recruit_info .inner{
	max-width:1250px;
}
.col3 .job_card{
	height:200px;
	text-align:center;
}
.col3 .job_card h3{
	margin:28px 0;
	font-size:2.4rem;
	font-weight:700;
}
.col3 .job_card .btn{
	font-size:1.4rem;
}
.col3 .job_card span{
	display:block;
	padding:14px 0;
}

.slide2 .slick-slide {
	padding:0 15px;
}

.col2.blog{
	text-align:center;
}
.blog_box{
	max-width:570px;
	height:270px;
	padding:20px;
	color:#fff;
}
.blog_box.people{
	background:url(../images/recruit/bg_message_01.png) center center;
	background-size:cover;
}
.blog_box.life{
	background:url(../images/recruit/bg_message_02.png) center center;
	background-size:cover;
}
.blog_box h3{
	margin-bottom:10px;
	font-size:2.0rem;
	font-weight:500;
}
.blog_box span{
	display:block;
	margin-bottom:20px;
	line-height:1.4;
	font-weight:500;
}
.blog_box .btn{
	font-size:1.4rem;
}

.recruit_faq .btnwrap{
	padding-top:0;
}

@media screen and (min-width: 769px) {
	.ctgr_top_ttl.message{
		background:url(../images/recruit/img_kv_message.png) center center no-repeat;
	}
	
	.recruit_message .inner{
		padding-top:30px;
	}
}
@media screen and (max-width: 768px) {
	.ctgr_top_ttl.message{
		padding-top:128%;
		background:url(../images/recruit/img_kv_message_sp.png) center center no-repeat;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- キャリア採用 ----- */

.carrer.intro{
	margin-bottom:60px;
}
.carrer.intro .big{
	font-weight:200;
}

.jobs.inner{
	max-width:1000px;
}

.col2 .job_card a{
	display:block;
	min-height:150px;
	padding:20px;
}
.col2 .job_card h3{
	margin-bottom:15px;
	font-size:1.8rem;
	font-weight:700;
	line-height:1.2;
}
.col2 .job_card .txt{
	line-height:1.5;
}


dl.adoption dt, dl.adoption dd{
	text-align:left;
	line-height:2;
}
dl.adoption dt{
	font-weight:500;
}
dl.adoption dd{
}

ol.step{
	list-style:none;
}
ol.step li{
	position:relative;
	padding-bottom:35px;
}
ol.step li::before, ol.step li::after{
	content:"";
	position:absolute;
	bottom:8px;
	left:0;
	display:block;
}
ol.step li::before{
	width:0;
	height:0;
	border-width:24px 13px 0 13px;
	border-style:solid;
	border-color:#fcc70a transparent transparent transparent;
}
ol.step li::after{
	width:26px;
	height:24px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
ol.step li:last-child::before, ol.step li:last-child::after{
	display:none;
}

@media screen and (min-width: 769px) {
	.carrer.intro{
		margin-bottom:60px;
	}
	.carrer.intro .big{
		font-size:3.0rem;
	}

	.jobs.inner{
		padding:20px 0;
		margin-bottom:40px;
		
	}
	.jobs .sec_head{
		margin-bottom:50px;
	}

	.col2 .job_card{
		width:48%;
		margin:0 4% 4% 0;
	}
	
	.recruit_dtl_dec{
		margin-bottom:50px;
	}

	.recruit_dtl.inner{
		padding:0 30px;
	}

	dl.adoption .tbl{
		display:table;
		width:100%;
		margin-bottom:40px;
	}
	dl.adoption dt, dl.adoption dd{
		display:table-cell;
		vertical-align:top;
		text-align:left;
		line-height:2;
	}
	dl.adoption dt{
		width:150px;
		padding-right:1em;
		font-weight:500;
	}
	dl.adoption dd{
	}
}
@media screen and (max-width: 768px) {
	.carrer.intro{
		margin-bottom:30px;
		padding:20px 0;
	}
	.carrer.intro .big{
		font-size:2.6rem;
	}

	.jobs.inner{
		padding:30px 0;
	}
	.jobs .sec_head{
		margin-bottom:30px;
	}

	.col2 .job_card:last-child{
		margin-bottom:0;
	}
	
	.recruit_dtl_dec{
		margin-bottom:30px;
	}

	.recruit_dtl.inner{
		padding:0 ;
	}

	dl.adoption .tbl{
		margin-bottom:20px;
	}
	dl.adoption dt, dl.adoption dd{
	}
	dl.adoption dt{
	}
	dl.adoption dd{
		padding-left:20px;
	}
}
@media screen and (max-width: 414px) {
}


/* ----- アルバイト採用 ----- */

.rec_arbeit{
	position:relative;
}
.rec_arbeit::before{
	content:"";
	display:block;
	background:url(../images/recruit/img_arbeit_01.png) center center no-repeat;
	background-size:cover;
}
.rec_arbeit dl{
}
.rec_arbeit dt, .rec_arbeit dd{
	font-size:1.8rem;
	line-height:1.8;
}
.rec_arbeit dt{
	font-weight:500;
}
.rec_arbeit dd{
}

.job_card.arbeit{
	position:relative;
}
.job_card.arbeit a{
	padding:0;
}
.job_card_img{
	position:relative;
	display:block;
	width:100%;
	padding-top:62%;
	overflow:hidden;
	margin-bottom:15px;
}
.job_card_img img{
	position:absolute;
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	max-width:none;
	height:100%;
}
.job_card.arbeit h3{
	padding:0 20px;
	margin-bottom:10px;
}
.job_card.arbeit .txt{
	display:block;
	padding:0 20px;
	margin-bottom:20px;
}


.recruit_dtl_img{
	margin-bottom:40px;
}
.recruit_dtl_dec{
	line-height:2.0;
}


@media screen and (min-width: 769px) {
	.rec_arbeit{
		height:175px;
		margin-bottom:50px;
	}
	.rec_arbeit::before{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		width:250px;
	}
	.rec_arbeit dl{
		position:absolute;
		top:50%;
		left:0;
		width:100%;
		padding-left:280px;
		-webkit-transform:translateY(-50%);
		transform:translateY(-50%);
	}
}
@media screen and (max-width: 768px) {
	.rec_arbeit{
		margin-bottom:40px;
	}
	.rec_arbeit::before{
		position:relative;
		width:100%;
		padding-top:60%;
		margin-bottom:15px;
	}
}
@media screen and (max-width: 414px) {
}

/* ----- 人と仕事を知る ----- */

.rec_ppl{
}
.rec_ppl li{
	line-height:1.8;
}
.rec_ppl a{
	display:block;
}

.rec_ppl .ppl_img{
	margin-bottom:15px;
}
.rec_ppl img{
	min-height:100%;
	min-width:100%;
}
.rec_ppl .ppl_cat{
	font-size:1.8rem;
}
.rec_ppl .ppl_ttl{
}

@media screen and (min-width: 769px) {
	.rec_ppl{
		max-width:1000px;
		margin:auto;
	}
	.col2.rec_ppl li{
		width:48%;
		margin-right:4%;
		margin-bottom:50px;
	}
	.rec_ppl a{
	}
	
	.rec_ppl .ppl_img{
	}
	.rec_ppl .ppl_cat{
	}
	.rec_ppl .ppl_ttl{
	}
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}


/* ----- 採用FAQ ----- */

.faq_list{
	line-height:1.8;
}
.faq_list dt, .faq_list dd{
	position:relative;
}
.faq_list dt::before, .faq_list dd::after{
	display:block;
	position:absolute;
	left:0;
	text-align:center;
	line-height:1;
}
.faq_list dt::before{
	content:"Q";
	color:#fff;
	background-color:#fcc70a;
}
.faq_list dd::after{
	content:"A";
	color:#fcc70a;
	border:1px solid #fcc70a;
}
.faq_list dt{
	font-weight:500;
}
.faq_list dd:last-child{
	margin-bottom:0;
}

@media screen and (min-width: 769px) {
	.faq_list{
	}
	.faq_list dt, .faq_list dd{
		padding-left:30px;
	}
	.faq_list dt::before, .faq_list dd::after{
		width:20px;
		height:20px;
		top:5px;
	}
	.faq_list dt{
	}
	.faq_list dd{
		margin-bottom:40px;
	}
}
@media screen and (max-width: 768px) {
	.faq_list{
		margin-bottom:20px;
	}
	.faq_list dt, .faq_list dd{
		padding-left:25px;
	}
	.faq_list dt::before, .faq_list dd::after{
		width:18px;
		height:18px;
		top:4px;
	}
	.faq_list dt{
	}
	.faq_list dd{
		margin-bottom:30px;
	}
}
@media screen and (max-width: 414px) {
}





/* ===== CONTACT ===== */

.contact .col2 li{
}
.contact .col2 .btn{
	height:110px;
	line-height:1.4;
}
.contact .col2 .btn span{
	display:block;
}
.contact .col2 .presskit{
	padding:20px 0;
	text-align:center;
}
.contact .col2 .presskit a{
	font-size:1.8rem;
	color:#d87500;
}

.contact p.thanks{
	font-size:1.8rem;
	text-align:center;
}

.form_privacy{
	padding:20px;
	border:1px solid #ddd;
}

@media screen and (min-width: 769px) {
	.contact_dsc{
		margin-bottom:70px;
		font-size:1.8rem;
	}

	.contact .col2 li{
		margin-bottom:70px;
	}
	.contact .col2 li:nth-child(2n){
		text-align:right;
	}
	.contact .col2 .btn{
		display:inline-block;
		width:380px;
	}
	.contact .col2 .presskit{
		width:380px;
	}

}
@media screen and (max-width: 768px) {
	.contact_dsc{
		margin-bottom:40px;
		font-size:1.6rem;
	}

	.contact .col2 li{
		margin-bottom:40px;
	}
	.contact .col2 .btn{
		width:100%;
	}
}
@media screen and (max-width: 414px) {
}




/* ===== FORM ===== */

.form label{
	margin-right:1em;
	padding:3px 0;
	line-height:1.4;
}
.form label.select{
	margin:0;
	padding:0;
}
.form dt, .form dd{
	line-height:1.4;
}
.form dt span.required{
	position:absolute;
	right:0;
	top:0;
	display:block;
	padding:1px 5px 2px;
	background:#fc2c0a;
	font-weight:500;
	color:#fff;
}

.form dd .error{
	position:relative;
	top:5px;
	font-size:1.4rem;
	font-weight:500;
	color:#fc2c0a;
}

.mw_wp_form_input .confirm{
	display:none;
}
.mw_wp_form_confirm .input{
	display:none;
}

.mw_wp_form_confirm .form dd span,
.form.confirm dd span{
	display:block;
	min-height:30px;
	padding:4px 5px;
	background:#f8f8f8;
	line-height:1.4;
}
.mw_wp_form_confirm .form dd span.sentence,
.form.confirm dd span.sentence{
	min-height:200px;
}
.mw_wp_form_confirm label.select{
	cursor:default;
}
.mw_wp_form_confirm label.select::after{
	display:none;
}

@media screen and (min-width: 769px) {
	.form{
		max-width:725px;
	}
	.form dt{
		position:absolute;
		width:230px;
		line-height:1.6;
		margin-top:3px;
	}
	.form dt span.required{
		font-size:1.4rem;
	}
	.form dd{
		margin-bottom:35px;
		padding-left:250px;
	}
}
@media screen and (max-width: 768px) {
	.form{
	}
	.form dt{
		position:relative;
		margin-bottom:10px;
	}
	.form dt span.required{
		font-size:1.2rem;
	}
	.form dd{
		margin-bottom:20px;
	}
}
@media screen and (max-width: 414px) {
}



/* ===== ENGLISH ===== */

.en.com.inner{
	max-width:860px;
}

.en .tbl.com_about{
	float:none;
	width:100%;
	max-width:680px;
	margin:auto;
}
.en .tbl.com_about th{
	width:auto;
}


.ctgr_top_ttl.mainbusiness{
	height:340px;
	padding:20px;
	color:#fff;
	background:url(../images/service/bg_gochikuru_01.png) center top;
	background-size: cover;
}

.ctgr_top_ttl.mainbusiness{
	height:340px;
}
.ctgr_top_ttl.mainbusiness h1{
	display:none;
}

.inner.gochi_name{
	max-width:1120px;
}


@media screen and (min-width: 769px) {
	.en .en_profile.active,
	.en .en_business.active,
	.contact .en_contact.active{
		color:#d87500;
	}

	.company.en .cont_wrapper, .business.en .cont_wrapper, .contact.en .cont_wrapper{
		padding-top:43px;
	}

	.biz_imgr.en_top{
		padding:30px;
		margin-bottom:50px;
	}
	.gochi_name{
		margin-bottom:100px;
	}
	.list_biz.gochikuru_reason.en{
		margin-bottom:50px;
	}
	.en_gochi_model{
		margin-bottom:150px;
	}
	.en_gochi_model .sec_head{
		margin-bottom:0;
	}
	.en_gochi_model .intro{
		max-width:860px;
	}
	.en .gochi_merit_box{
		padding-bottom:40px;
	}
	.en_gochi.sns{
		margin-bottom:30px;
	}
	.en_gochi_contact.btnwrap{
		margin-bottom:100px;
	}
}
@media screen and (max-width: 768px) {
	.biz_imgr.en_top{
		padding-top:10px;
		margin-bottom:2px;
	}
	.gochi_name{
		margin-bottom:60px;
	}
	.list_biz.gochikuru_reason.en{
		margin-bottom:50px;
	}
	.en_gochi_model{
		margin-bottom:100px;
	}
	.en_gochi_model .sec_head{
		margin-bottom:0;
	}
	.en_gochi_model .intro{
		max-width:860px;
	}
	.en_gochi.sns{
		margin-bottom:30px;
	}
	.en_gochi_contact.btnwrap{
		margin-bottom:60px;
	}
}
@media screen and (max-width: 414px) {
}


/* ===== XXX ===== */

@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
}
