<footer>
	<div class="fnav">
		<div class="inner">
			<div class="fnav_bl">
				<div>
					<a href="/" class="ttl">TOP</a>
				</div>
				<div>
					<input type="checkbox" id="fnav4" class="tgl_sw">
					<label for="fnav4" class="ttl tgl_lbl"><a href="/business/projectoperation/">事業内容</a></label>
					<ul class="tgl_cont">
						<li><a href="/business/projectoperation/startdelivery.html">スタートデリバリー</a></li>
						<li><a href="/business/projectoperation/gochikuru.html">ごちクル</a></li>
						<li><a href="/business/projectoperation/shashokuru.html">シャショクル</a></li>
						<li><a href="/business/projectoperation/okawari.html">おかワリ</a></li>
						<li><a href="https://gochi-ad.com/" target="_blank" class="out">ごちアド</a></li>
						<li><a href="/business/projectoperation/chihousouseisupport.html">地方創生サポート事業</a></li>
					</ul>
				</div>
				<div>
					<input type="checkbox" id="fnav2" class="tgl_sw">
					<label for="fnav2" class="ttl tgl_lbl"><a href="/category/">新着情報</a></label>
					<ul class="tgl_cont">
						<li><a href="/category/お知らせ.html">お知らせ</a></li>
						<li><a href="/category/pressrelease.html">プレスリリース</a></li>
						<li><a href="/category/life.html">スタフェスライフ</a></li>
						<li><a href="/category/people.html">ぴーぷる</a></li>
						<li><a href="/category/media.html">メディア紹介</a></li>
					</ul>
				</div>
			</div>
			<div class="fnav_bl">
				<div>
					<input type="checkbox" id="fnav3" class="tgl_sw">
					<label for="fnav3" class="ttl tgl_lbl"><a href="/company/">会社紹介</a></label>
					<ul class="tgl_cont">
						<li><a href="/company/">会社概要</a></li>
						<li><a href="/company/philosophy.html">企業理念</a></li>
						<li><a href="/company/officer/officer.html">経営陣紹介</a></li>
						<li><a href="/company/history.html">会社沿革</a></li>
						<li><a href="/company/system.html">制度案内</a></li>
						<li><a href="/company/award.html">受賞歴一覧</a></li>
						<li><a href="/company/cm.html">CMライブラリ</a></li>
						<li><a href="/company/access.html">アクセスマップ</a></li>
					</ul>
				</div>
			</div>
			<div class="fnav_bl">
				<div>
					<input type="checkbox" id="fnav5" class="tgl_sw">
					<label for="fnav5" class="ttl tgl_lbl"><a href="/csr/">CSR</a></label>
					<p class="ttl tgl_cont">社会のために</p>
					<ul class="tgl_cont">
						<li><a href="/csr/chihousousei.html">地方創生への貢献</a></li>
						<li><a href="/csr/sinsaisien.html">災害支援</a></li>
						<li><a href="/csr/other.html">環境・その他</a></li>
					</ul>
					<p class="ttl tgl_cont">ステークホルダー皆さまのために</p>
					<ul class="tgl_cont">
						<li><a href="/csr/forcustomers.html">お客さまのために</a></li>
						<li><a href="/csr/forpartners.html">お取引パートナーさまのために</a></li>
						<li><a href="/csr/foremployees.html">従業員のために</a></li>
					</ul>
				</div>
			</div>
			<div class="fnav_bl">
				<div>
					<input type="checkbox" id="fnav6" class="tgl_sw">
					<label for="fnav6" class="ttl tgl_lbl"><a href="/recruit/message/">採用情報</a></label>
					<ul class="tgl_cont">
						<li><a href="/recruit/message.html">採用メッセージ</a></li>
						<li><a href="/recruit/career/">キャリア採用</a></li>
						<li><a href="/recruit/graduate/">新卒採用（準備中）</a></li>
						<li><a href="/recruit/arbeit/">アルバイト採用</a></li>
						<!--li><a href="/recruit/intern.html">インターン募集</a></li-->
						<li><a href="/recruit/people.html">人と仕事を知る</a></li>
						<li><a href="/recruit/faq.html">採用FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="fnav_bl">
				<div>
					<a href="/contact/" class="ttl">お問い合わせ</a>
				</div>
				<div class="pc">
					<a href="/company/presskit.html" class="ttl">プレスキット</a>
				</div>
				<div class="privacy">
					<a href="/company/policy.html" class="nav_privacy">個人情報保護方針</a>
				</div>
				<div class="pc">
					<a href="/companyprofile.html" class="ttl">English</a>
					<ul>
						<li><a href="/companyprofile.html">Company Profile</a></li>
						<li><a href="/mainbusiness.html">Main Business</a></li>
						<li><a href="/contact/contact-en.html">Contact</a></li>
					</ul>
				</div>
				<div class="lang"><a href="/" class="ja on">日本語</a><a href="/companyprofile.html" class="en">English</a></div>
			</div>
			<div class="f_sns">
				<ul>
					<li class="fb"><a href="https://www.facebook.com/stafes/" target="_blank"><img src="/common/images/icon_fb.png" alt="FACEBOOK"></a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="f_copy">
		<div class="inner">
			<div class="site">
				<span>運営サイト</span>　<a href="https://gochikuru.com/" target="_blank"><img src="/common/images/logo_gochikuru_s.png" alt="ごちクル"></a>　<a href="https://shashokuru.com/" target="_blank"><img src="/common/images/logo_syasyokuru_s.png" alt="シャショクル"></a>
			</div>
			<div class="copy">
				Copyright &copy; STAR FESTIVAL.INC. All rights reserved.
			</div>
		</div>
	</div>

	<a href="#" class="gotop"></a>

</footer>
