<header>
	<div class="header_wrap">
		<div class="h_logo"><a href="/"><img src="/common/images/logo.png" alt="STAR FESTIVAL"></a></div>
		<nav>
			<input type="checkbox" id="gnav_sw" class="tgl_sw">
			<label for="gnav_sw" class="gnav_sw_oc"></label>
			<div class="gnav_wrap tgl_cont modal">
				<ul class="gnav">
					<li><a href="/" class="lv1 gnav1"><span class="middle">TOP</span></a></li>
					<li>
						<a href="/business/projectoperation/" class="lv1 gnav4 pc"><span class="middle">事業内容</span></a>
						<input type="checkbox" id="gnav4" class="tgl_sw">
						<label for="gnav4" class="tgl_lbl gnav4 sp"><span>事業内容</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/business/projectoperation/">事業内容TOP</a></li>
								<li><a href="/business/projectoperation/startdelivery.html">スタートデリバリー</a></li>
								<li><a href="/business/projectoperation/gochikuru.html">ごちクル</a></li>
								<li><a href="/business/projectoperation/shashokuru.html">シャショクル</a></li>
								<li><a href="/business/projectoperation/okawari.html">おかワリ</a></li>
								<li><a href="https://gochi-ad.com/" target="_blank" class="out">ごちアド</a></li>
								<li><a href="/business/projectoperation/chihousouseisupport.html">地方創生サポート</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/category/" class="lv1 gnav2 pc"><span class="middle">新着情報</span></a>
						<input type="checkbox" id="gnav2" class="tgl_sw">
						<label for="gnav2" class="tgl_lbl gnav2 sp"><span>新着情報</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/category/">新着情報TOP</a></li>
								<li><a href="/category/お知らせ.html">お知らせ</a></li>
								<li><a href="/category/pressrelease.html">プレスリリース</a></li>
								<li><a href="/category/life.html">スタフェスライフ</a></li>
								<li><a href="/category/people.html">ぴーぷる</a></li>
								<li><a href="/category/media.html">メディア紹介</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/company/" class="lv1 gnav3 pc"><span class="middle">会社紹介</span></a>
						<input type="checkbox" id="gnav3" class="tgl_sw">
						<label for="gnav3" class="tgl_lbl gnav3 sp"><span>会社紹介</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/company/">会社概要</a></li>
								<li><a href="/company/philosophy.html">企業理念</a></li>
								<li><a href="/company/officer.html">経営陣紹介</a></li>
								<li><a href="/company/history.html">会社沿革</a></li>
								<li><a href="/company/system.html">制度案内</a></li>
								<li><a href="/company/award.html">受賞歴一覧</a></li>
								<li><a href="/company/cm.html">CMライブラリ</a></li>
								<li><a href="/company/access.html">アクセスマップ</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/csr/" class="lv1 gnav5 pc"><span class="middle">CSR</span></a>
						<input type="checkbox" id="gnav5" class="tgl_sw">
						<label for="gnav5" class="tgl_lbl gnav5 sp"><span>CSR</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/csr/#for_society" class="ttl">社会のために</a></li>
								<li class="sp lv2"><a href="/csr/chihousousei.html">地方創生への貢献</a></li>
								<li class="sp lv2"><a href="/csr/sinsaisien.html">災害支援</a></li>
								<li class="sp lv2"><a href="/csr/other.html">環境・その他</a></li>
								<li><a href="/csr/#for_stakeholders" class="ttl">ステークホルダー皆さまのために</a></li>
								<li class="sp lv2"><a href="/csr/forcustomers.html">お客さまのために</a></li>
								<li class="sp lv2"><a href="/csr/forpartners.html">お取引パートナーさまのために</a></li>
								<li class="sp lv2"><a href="/csr/foremployees.html">従業員のために</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/recruit/message.html/" class="lv1 gnav6 pc"><span class="middle">採用情報</span></a>
						<input type="checkbox" id="gnav6" class="tgl_sw">
						<label for="gnav6" class="tgl_lbl gnav6 sp"><span>採用情報</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/recruit/message.html">採用メッセージ</a></li>
								<li><a href="/recruit/career/">キャリア採用</a></li>
								<li><a href="/recruit/graduate/">新卒採用（準備中）</a></li>
								<li><a href="/recruit/arbeit/">アルバイト採用</a></li>
								<li><a href="/recruit/people.html">人と仕事を知る</a></li>
								<li><a href="/recruit/faq.html">採用FAQ</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/contact/" class="lv1 gnav7 pc"><span class="middle">お問い合わせ</span></a>
						<input type="checkbox" id="gnav7" class="tgl_sw">
						<label for="gnav7" class="tgl_lbl gnav7 sp"><span>お問い合わせ</span></label>
						<div class="tgl_cont">
							<ul class="subnav">
								<li><a href="/contact/">お問い合わせTOP</a></li>
								<li><a href="/contact/contact-jp.html">一般的なお問い合わせ</a></li>
								<li><a href="/contact/partner.html">サービスお申し込み</a></li>
								<li><a href="/media/contact.html">取材・プレス関連</a></li>
								<li><a href="/contact/recruit.html">採用に関するお問い合わせ</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<a href="/company/policy.html" class="head nav_privacy sp">個人情報保護方針</a>
				<div class="lang"><a href="/" class="ja on">日本語</a><a href="/companyprofile.html" class="en">English</a></div>
			</div>
		</nav>
	</div>
</header>
