<header>
	<div class="header_wrap">
		<div class="h_logo"><a href="/"><img src="/common/images/logo.png" alt="STAR FESTIVAL"></a></div>
		<nav>
			<input type="checkbox" id="gnav_sw" class="tgl_sw">
			<label for="gnav_sw" class="gnav_sw_oc"></label>
			<div class="gnav_wrap tgl_cont">
				<ul class="gnav">
					<li><a href="/companyprofile.html" class="lv1 en_profile"><span class="middle">Company Profile</span></a></li>
					<li><a href="/mainbusiness.html" class="lv1 en_business"><span class="middle">Main Business</span></a></li>
					<li><a href="/contact/contact-en.html" class="lv1 en_contact"><span class="middle">Contact</span></a></li>
				</ul>
				<div class="lang"><a href="/" class="ja">日本語</a><a href="/companyprofile.html" class="en on">English</a></div>
			</div>
		</nav>
	</div>
</header>
